<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.trace.traceComponents">
      <component
            id="org.jboss.tools.openshift.client"
            label="OpenShift 3 client">
         <bundle
               consumed="true"
               name="org.jboss.tools.openshift.client">
         </bundle>
      </component>
   </extension>

</plugin>
