<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.jboss.ide.eclipse.as.openshift.express.ui.wizard.category"
            name="OpenShift">
      </category>
      <wizard
            category="org.jboss.ide.eclipse.as.openshift.express.ui.wizard.category"
            class="org.jboss.tools.openshift.express.internal.ui.wizard.application.NewOpenShiftApplicationWizard"
            icon="icons/openshift-logo-white-icon.png"
            id="org.jboss.ide.eclipse.as.openshift.express.ui.wizard.createNewApplicationWizard"
            name="OpenShift Application"
            project="true">
                <description>Create a new OpenShift Application</description>
      </wizard>
   </extension>
   <extension
          point="org.eclipse.ui.importWizards">
      <category
            id="org.jboss.tools.openshift.express.ui.wizard.importCategory"
            name="OpenShift">
      </category>
      <wizard
            category="org.jboss.tools.openshift.express.ui.wizard.importCategory"
            class="org.jboss.tools.openshift.express.internal.ui.wizard.application.ImportOpenShiftApplicationWizard"
            icon="icons/openshift-logo-white-icon.png"
            id="org.jboss.tools.openshift.express.ui.importExistingApplicationWizard"
            name="Existing OpenShift Application">
            <description>Import an existing OpenShift Application</description>
      </wizard>
    </extension>  
   <extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="org.jboss.tools.common.ui.JBossPerspective">
			<newWizardShortcut
				id="org.jboss.ide.eclipse.as.openshift.express.ui.wizard.createNewApplicationWizard">
			</newWizardShortcut>
		</perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="$nl$/icons/openshift-logo-white-icon.png"
            typeIds="org.jboss.tools.openshift.express.openshift.server.type,org.jboss.tools.openshift.express.internal.OpenShiftRuntime"
            id="org.jboss.ide.eclipse.as.ui.jbossIcon"/>
   </extension>
    
	<extension point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.wst.server.ui.ServersView">
		</viewerContentBinding>
    	<viewerActionBinding viewerId="org.eclipse.wst.server.ui.ServersView">
	       <includes>
	          <actionExtension
	                pattern="org.jboss.tools.openshift.express.internal.ui.serverviewer.actionDelegate.*"/>
	       </includes>
	    </viewerActionBinding>
	</extension>
	
    <!-- Extensions to Server View to provide 'tail' of the remote server.log file -->
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<actionProvider
				class="org.jboss.tools.openshift.express.internal.ui.serverviewer.actionDelegate.TailServerLogActionProvider"
				id="org.jboss.tools.openshift.express.internal.ui.serverviewer.actionDelegate.tailServerLogActionProvider">
           <enablement>
             <with
					variable="selection">
                <count
					value="1">
                </count>
                <iterate
					ifEmpty="false"
					operator="and">
					<instanceof
						value="org.eclipse.wst.server.core.IServer" />
                </iterate>
             </with>
           </enablement>
		</actionProvider>
		<actionProvider
				class="org.jboss.tools.openshift.express.internal.ui.serverviewer.actionDelegate.ApplicationPortForwardingActionProvider"
				id="org.jboss.tools.openshift.express.internal.ui.serverviewer.actionDelegate.applicationPortForwardingActionProvider">
           <enablement>
             <with
					variable="selection">
                <count
					value="1">
                </count>
                <iterate
					ifEmpty="false"
					operator="and">
					<instanceof
						value="org.eclipse.wst.server.core.IServer" />
                </iterate>
             </with>
           </enablement>
		</actionProvider>
		<actionProvider
				class="org.jboss.tools.openshift.express.internal.ui.serverviewer.actionDelegate.RestartApplicationActionProvider"
				id="org.jboss.tools.openshift.express.internal.ui.serverviewer.actionDelegate.restartApplicationActionProvider">
           <enablement>
             <with
                   variable="selection">
                <count
                         value="1">
                </count>
                <iterate
                      ifEmpty="false"
                      operator="and">
                 <instanceof
                       value="org.eclipse.wst.server.core.IServer" />
                </iterate>
             </with>
           </enablement>
		</actionProvider>
    </extension>
	
    <extension
          point="org.eclipse.ui.console.consolePageParticipants">
       <consolePageParticipant
             class="org.jboss.tools.openshift.express.internal.ui.console.TailConsolePageParticipant"
             id="org.jboss.tools.openshift.express.ui.action.tailConsolePageParticipant">
          <enablement>
          		<and>
		         <instanceof
		               value="org.eclipse.ui.console.MessageConsole">
		         </instanceof>
		         <test
		               forcePluginActivation="true"
		               property="org.jboss.tools.openshift.express.isOpenShiftConsole">
		         </test>
		      </and>
          </enablement>
       </consolePageParticipant>
    </extension>
    
    <extension
       point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
          class="org.jboss.tools.openshift.express.internal.ui.console.ServerTypePropertyTester"
          id="org.jboss.tools.openshift.express.ui.serverTypePropertyTester"
          namespace="org.jboss.tools.openshift.express"
          properties="isOpenShiftServer"
          type="org.eclipse.wst.server.core.IServer">
      </propertyTester>
      <propertyTester
          class="org.jboss.tools.openshift.express.internal.ui.console.ConsoleTypePropertyTester"
          id="org.jboss.tools.openshift.express.ui.consoleTypePropertyTester"
          namespace="org.jboss.tools.openshift.express"
          properties="isOpenShiftConsole"
          type="org.eclipse.ui.console.MessageConsole">
      </propertyTester>
    </extension>
  
    <extension  point="org.eclipse.ui.editors.templates">    
        <template id="org.jboss.tools.maven.editor.xml.templates.profiles.openshift"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.profiles"
         name="OpenShift profile" 
         description="OpenShift profile">
         <pattern>             &lt;profile&gt;
  &lt;!-- When built in OpenShift the &#39;openshift&#39; profile will be used when invoking mvn. --&gt;
  &lt;!-- Use this profile for any OpenShift specific customization your app will need. --&gt;
  &lt;!-- By default that is to put the resulting archive into the &#39;deployments&#39; folder. --&gt;
  &lt;!-- http://maven.apache.org/guides/mini/guide-building-for-different-environments.html --&gt;
  &lt;id&gt;openshift&lt;/id&gt;
    &lt;build&gt;
      &lt;plugins&gt;
        &lt;plugin&gt;
          &lt;artifactId&gt;maven-war-plugin&lt;/artifactId&gt;
          &lt;version&gt;2.1.1&lt;/version&gt;
          &lt;configuration&gt;
            &lt;outputDirectory&gt;deployments&lt;/outputDirectory&gt;
            &lt;warName&gt;ROOT&lt;/warName&gt;
          &lt;/configuration&gt;
        &lt;/plugin&gt;
      &lt;/plugins&gt;
    &lt;/build&gt;
&lt;/profile&gt;</pattern>
       </template>
    </extension>
    <extension
          point="org.eclipse.wst.server.ui.editorPageSections">
       <section
             class="org.jboss.tools.openshift.express.internal.ui.behaviour.OpenShiftServerEditorSection"
             id="org.jboss.tools.openshift.express.ui.behaviour.details.section"
             insertionId="org.eclipse.wst.server.editor.overview.left"
             order="10"
             typeIds="org.jboss.tools.openshift.express.openshift.server.type">
       </section>
    </extension>
    <extension
          point="org.eclipse.wst.server.ui.wizardFragments">
       <fragment
             class="org.jboss.tools.openshift.express.internal.ui.behaviour.OpenShiftServerWizardFragment"
             id="org.jboss.tools.openshift.express.ui.server.fragment"
             typeIds="org.jboss.tools.openshift.express.openshift.server.type">
       </fragment>
    </extension>
   
    <!-- the 'Express console' view -->
     <extension
         point="org.eclipse.ui.views">
      <!--view
            category="org.jboss.tools.common.model.ui.views"
            class="org.jboss.tools.openshift.express.internal.ui.explorerOpenShiftConsoleExpressView"
            icon="icons/openshift-logo-white-icon.png"
            id="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView"
            name="OpenShift Explorer">
      </view-->
      <view
            category="org.jboss.tools.common.model.ui.views"
            class="org.jboss.tools.openshift.express.internal.ui.explorer.OpenShiftExplorerView"
            icon="icons/openshift-logo-white-icon.png"
            id="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView"
            name="OpenShift Explorer">
      </view>
      
   </extension>
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView">
         <popupMenu
               allowsPlatformContributions="true"
               id="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup">
            <insertionPoint
                  name="group.new"
                  separator="true"/>
            <insertionPoint
                  name="group.edition"
                  separator="true"/>
            <insertionPoint
                  name="group.showIn"
                  separator="true"/>
            <insertionPoint
                  name="group.server"
                  separator="true"/>
            <insertionPoint
                  name="additions"
                  separator="true"/>
            <insertionPoint
                  name="group.properties"
                  separator="true"/>
         </popupMenu>
         <options>
            <property
                  name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
                  value="true">
            </property>
         </options>
      </viewer>
      <viewerActionBinding viewerId="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView">
	       <includes>
           	  <actionExtension
	                pattern="org.jboss.tools.openshift.express.internal.ui.explorer.actionProvider.*"/>
           	  <!-- actionExtension
	                pattern="org.jboss.tools.openshift.express.internal.ui.portforward.applicationPortForwardActionProvider"/ -->
           	  </includes>
	    </viewerActionBinding>
        <viewerContentBinding
              viewerId="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView">
           <includes>
              <contentExtension
                    isRoot="false"
                    pattern="org.jboss.tools.openshift.express.ui.explorer.expressConsoleContent">
              </contentExtension>
           </includes>
      </viewerContentBinding>
     </extension>
     <extension 
         point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.new">
	    	<menu
	           id="org.jboss.tools.openshift.express.ui.explorer.expressConsoleViewPopup.new"
	           label="%openshift.menu.expressConsoleView.new">
			</menu>
		</menuContribution>
     </extension>
     <extension
           point="org.eclipse.ui.navigator.navigatorContent">
        <navigatorContent
              contentProvider="org.jboss.tools.openshift.express.internal.ui.explorer.OpenShiftExplorerContentProvider"
              id="org.jboss.tools.openshift.express.ui.explorer.expressConsoleContent"
              labelProvider="org.jboss.tools.openshift.express.internal.ui.explorer.OpenShiftExplorerLabelProvider"
              name="OpenShift Explorer Content">
           <triggerPoints></triggerPoints>
        </navigatorContent>
        <actionProvider
              class="org.jboss.tools.openshift.express.internal.ui.explorer.actionProvider.OpenInWebBrowserActionProvider"
              id="org.jboss.tools.openshift.express.internal.ui.explorer.actionProvider.openInWebBrowserActionProvider">
           <enablement>
             <with
					variable="selection">
                <count
					value="1">
                </count>
                <iterate
					ifEmpty="false"
					operator="and">
					<instanceof
						value="com.openshift.client.IApplication" />
                </iterate>
             </with>
           </enablement>
        </actionProvider>
        <actionProvider
              class="org.jboss.tools.openshift.express.internal.ui.explorer.actionProvider.TailServerLogActionProvider"
              id="org.jboss.tools.openshift.express.internal.ui.explorer.actionProvider.tailServerLogActionProvider">
           <enablement>
             <with
					variable="selection">
                <count
					value="1">
                </count>
                <iterate
					ifEmpty="false"
					operator="and">
					<instanceof
						value="com.openshift.client.IApplication" />
                </iterate>
             </with>
           </enablement>
        </actionProvider>
        <actionProvider
              class="org.jboss.tools.openshift.express.internal.ui.explorer.actionProvider.ApplicationPortForwardingActionProvider"
              id="org.jboss.tools.openshift.express.internal.ui.explorer.actionProvider.applicationPortForwardingActionProvider">
           <enablement>
             <with
					variable="selection">
                <count
					value="1">
                </count>
                <iterate
					ifEmpty="false"
					operator="and">
					<instanceof
						value="com.openshift.client.IApplication">
					</instanceof>
                </iterate>
             </with>
           </enablement>
        </actionProvider>
        <actionProvider
              class="org.jboss.tools.openshift.express.internal.ui.explorer.actionProvider.CreateServerAdapterActionProvider"
              id="org.jboss.tools.openshift.express.internal.ui.explorer.actionProvider.createServerAdapterActionProvider">
           <enablement>
              <and>
                 <instanceof
                       value="com.openshift.client.IApplication">
                 </instanceof>
              </and>
           </enablement>
        </actionProvider>
        <actionProvider
              class="org.jboss.tools.openshift.express.internal.ui.explorer.actionProvider.ShowPropertiesActionProvider"
              id="org.jboss.tools.openshift.express.internal.ui.explorer.actionProvider.showPropertiesActionProvider">
           <enablement>
             <with
					variable="selection">
                <count
					value="1">
                </count>
                <iterate
					ifEmpty="false"
					operator="and">
					<or>
						<instanceof
							value="org.jboss.tools.openshift.express.internal.core.connection.Connection" />
							<!-- Not showing it for IApp since it has show details -->
							<!-- <instanceof
								value="com.openshift.client.IApplication">
						</instanceof> -->
						<instanceof
							value="com.openshift.client.cartridge.IEmbeddedCartridge" />
					</or>
                </iterate>
             </with>
           </enablement>
        </actionProvider>
        <actionProvider
              class="org.jboss.tools.openshift.express.internal.ui.explorer.actionProvider.ShowDetailsActionProvider"
              id="org.jboss.tools.openshift.express.internal.ui.explorer.actionProvider.showDetailsActionProvider">
           <enablement>
              <or>
                 <instanceof
                       value="com.openshift.client.IApplication">
                 </instanceof>
              </or> 
           </enablement>
        </actionProvider>
     </extension>
     
     <!-- when using the 'classic' properties view. -->
     <extension
           point="org.eclipse.core.runtime.adapters">
        <factory
              adaptableType="org.jboss.tools.openshift.express.internal.core.connection.Connection"
              class="org.jboss.tools.openshift.express.internal.ui.property.PropertySourceAdapterFactory">
           <adapter
                 type="org.eclipse.ui.views.properties.IPropertySource">
           </adapter>
        </factory>
        <factory
              adaptableType="com.openshift.client.IApplication"
              class="org.jboss.tools.openshift.express.internal.ui.property.PropertySourceAdapterFactory">
           <adapter
                 type="org.eclipse.ui.views.properties.IPropertySource">
           </adapter>
        </factory>
        <factory
              adaptableType="com.openshift.client.cartridge.IEmbeddedCartridge"
              class="org.jboss.tools.openshift.express.internal.ui.property.PropertySourceAdapterFactory">
           <adapter
                 type="org.eclipse.ui.views.properties.IPropertySource">
           </adapter>
        </factory>
     </extension>
     <extension
         point="org.eclipse.ui.perspectiveExtensions">
      	<perspectiveExtension
            targetID="org.jboss.tools.common.ui.JBossPerspective">
            <view relative="org.eclipse.ui.views.ProblemView"
         	   relationship="stack"
               id="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView">
         </view>
      	</perspectiveExtension> 
     </extension>
	<!-- New Connection -->
     <extension
           point="org.eclipse.ui.commands">
        <command
              id="org.jboss.tools.openshift.express.ui.command.newconnection"
              name="%openshift.command.newconnection">
        </command>
     </extension>
     <extension
           point="org.eclipse.ui.handlers">
        <handler
              commandId="org.jboss.tools.openshift.express.ui.command.newconnection"
              class="org.jboss.tools.openshift.express.internal.ui.command.NewConnectionHandler">
     	</handler>
     </extension>
     <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleViewPopup.new?after=additions">
          <command
                commandId="org.jboss.tools.openshift.express.ui.command.newconnection"
                icon="icons/resource_obj.gif"
                id="org.jboss.tools.openshift.express.ui.command.newconnection"
                mnemonic="N">
			<visibleWhen>
				<or>
					<with variable="activePartId">
						<equals value="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView" />
					</with>
					<with variable="selection">
						<and>
							<count value="1" />
		         			<iterate ifEmpty="false" operator="or">
		            			<instanceof
		                       		value="org.jboss.tools.openshift.express.internal.core.connection.Connection" />
		                    </iterate>
						</and>
	                </with>
				</or>
			</visibleWhen>
          </command>
        </menuContribution>
    </extension>
	<!-- Edit Connection -->
     <extension
           point="org.eclipse.ui.commands">
        <command
              id="org.jboss.tools.openshift.express.ui.command.editconnection"
              name="%openshift.command.editconnection">
        </command>
     </extension>
     <extension
           point="org.eclipse.ui.handlers">
        <handler
              class="org.jboss.tools.openshift.express.internal.ui.command.EditConnectionHandler"
              commandId="org.jboss.tools.openshift.express.ui.command.editconnection">
     	</handler>
     </extension>
     <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?before=group.showIn">
          <command
                commandId="org.jboss.tools.openshift.express.ui.command.editconnection"
                icon="icons/edit.gif"
                mnemonic="E">
              <visibleWhen>
				<with variable="selection">
					<and>
						<count value="1" />
	         			<iterate ifEmpty="false" operator="or">
	            			<instanceof
	                       		value="org.jboss.tools.openshift.express.internal.core.connection.Connection" />
	                    </iterate>
					</and>
                </with>
              </visibleWhen>
          </command>
        </menuContribution>
     </extension>
	<!-- Remove Connection -->
     <extension
           point="org.eclipse.ui.commands">
        <command
              id="org.jboss.tools.openshift.express.ui.command.removeconnection"
              name="%openshift.command.removeconnection">
        </command>
     </extension>
     <extension
           point="org.eclipse.ui.handlers">
        <handler
              commandId="org.jboss.tools.openshift.express.ui.command.removeconnection"
              class="org.jboss.tools.openshift.express.internal.ui.command.RemoveConnectionHandler">
     	</handler>
     </extension>
     <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?before=group.showIn">
          <command
                commandId="org.jboss.tools.openshift.express.ui.command.removeconnection"
                icon="icons/delete_edit.gif"
                id="org.jboss.tools.openshift.express.ui.command.removeconnection"
                mnemonic="R">
			<visibleWhen>
				<with variable="selection">
					<and>
						<count value="1" />
	         			<iterate ifEmpty="false" operator="and">
	            			<instanceof
	                       		value="org.jboss.tools.openshift.express.internal.core.connection.Connection" />
	                    </iterate>
					</and>
                </with>
			</visibleWhen>
          </command>
        </menuContribution>
    </extension>
    
	<!-- Refresh OpenShift resource (connection, domain, application) -->
     <extension
           point="org.eclipse.ui.commands">
        <command
              id="org.jboss.tools.openshift.express.ui.command.refreshresource"
              name="%openshift.command.refreshresource">
        </command>
     </extension>
     <extension
           point="org.eclipse.ui.handlers">
        <handler
              commandId="org.jboss.tools.openshift.express.ui.command.refreshresource"
              class="org.jboss.tools.openshift.express.internal.ui.command.RefreshResourceHandler">
     	</handler>
     </extension>
     <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.properties">
          <command
                commandId="org.jboss.tools.openshift.express.ui.command.refreshresource"
                icon="icons/refresh.gif"
                id="org.jboss.tools.openshift.express.ui.command.refreshresource"
                mnemonic="R">
			<visibleWhen>
				<and>
	                <count
						value="1">
	                </count>
	                <iterate
						ifEmpty="false"
						operator="and">
			              <or>
			                 <instanceof
			                       value="org.jboss.tools.openshift.express.internal.core.connection.Connection" />
			                 <instanceof
			                       value="com.openshift.client.IOpenShiftResource" />
			              </or>
	                </iterate>
				</and>
			</visibleWhen>
          </command>
        </menuContribution>
    </extension>
    
	<!-- manage keys -->
     <extension
           point="org.eclipse.ui.commands">
        <command
              id="org.jboss.tools.openshift.express.ui.command.manageKeys"
              name="%openshift.command.managekeys">
        </command>
     </extension>
     <extension
           point="org.eclipse.ui.handlers">
        <handler
              class="org.jboss.tools.openshift.express.internal.ui.command.ManageSSHKeysHandler"
              commandId="org.jboss.tools.openshift.express.ui.command.manageKeys">
        </handler>
     </extension>
    <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.showIn">
          <command
                commandId="org.jboss.tools.openshift.express.ui.command.manageKeys"
                icon="icons/key-icon.png"
                id="org.jboss.tools.openshift.express.ui.command.manageKeys"
                mnemonic="K">
              <visibleWhen>
				<with variable="selection">
					<and>
						<count value="1" />
	         			<iterate ifEmpty="false" operator="or">
	            			<instanceof
	                       		value="org.jboss.tools.openshift.express.internal.core.connection.Connection" />
	                    </iterate>
					</and>
                </with>
              </visibleWhen>
          </command>
        </menuContribution>
	</extension>
	<!-- show environment -->
    <extension
           point="org.eclipse.ui.commands">
        <command
              id="org.jboss.tools.openshift.express.ui.command.showEnvironment"
              name="%openshift.command.showenvironment">
        </command>
    </extension>
    <extension
           point="org.eclipse.ui.handlers">
        <handler
              class="org.jboss.tools.openshift.express.internal.ui.command.ShowEnvironmentHandler"
              commandId="org.jboss.tools.openshift.express.ui.command.showEnvironment">
        </handler>
    </extension>
	<!-- show environment OpenShift Explorer -->
    <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.showIn">
          <command
                commandId="org.jboss.tools.openshift.express.ui.command.showEnvironment"
                icon="icons/task.gif"
                id="org.jboss.tools.openshift.express.ui.command.showEnvironment"
                mnemonic="E">
              <visibleWhen>
				<with variable="selection">
					<and>
						<count value="1" />
	         			<iterate ifEmpty="false" operator="or">
	            			<instanceof
	                       		value="com.openshift.client.IApplication" />
	                    </iterate>
					</and>
                </with>
              </visibleWhen>
          </command>
        </menuContribution>
		<!-- show environment Servers View -->
        <menuContribution
              locationURI="popup:org.jboss.tools.openshift.express.serverviewer.menu">
          <command
                commandId="org.jboss.tools.openshift.express.ui.command.showEnvironment"
                icon="icons/task.gif"
                id="org.jboss.tools.openshift.express.ui.command.showEnvironment"
                mnemonic="E">
              <visibleWhen>
				<with variable="selection">
					<and>
						<count value="1" />
	         			<iterate ifEmpty="false" operator="or">
	            			<instanceof
	                       		value="org.eclipse.wst.server.core.IServer" />
	                    </iterate>
					</and>
                </with>
              </visibleWhen>
          </command>
        </menuContribution>
     </extension>
     
    <!-- Manage domains -->
     <extension
           point="org.eclipse.ui.commands">
        <command
              id="org.jboss.tools.openshift.express.ui.command.manageDomains"
              name="%openshift.command.managedomains">
        </command>
     </extension>
     <extension
           point="org.eclipse.ui.handlers">
        <handler
              class="org.jboss.tools.openshift.express.internal.ui.command.ManageDomainsHandler"
              commandId="org.jboss.tools.openshift.express.ui.command.manageDomains">
     	</handler>
     </extension>
     <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.showIn">
          <command
                commandId="org.jboss.tools.openshift.express.ui.command.manageDomains"
                icon="icons/globe.png"
                mnemonic="M">
              <visibleWhen>
				<with variable="selection">
					<and>
						<count value="1" />
	         			<iterate ifEmpty="false" operator="or">
	            			<instanceof
	                       		value="org.jboss.tools.openshift.express.internal.core.connection.Connection" />
	                    </iterate>
					</and>
                </with>
              </visibleWhen>
          </command>
        </menuContribution>
     </extension>
	<!-- New Domain -->
     <extension
           point="org.eclipse.ui.commands">
        <command
              id="org.jboss.tools.openshift.express.ui.command.newdomain"
              name="%openshift.command.newdomain">
        </command>
     </extension>
     <extension
           point="org.eclipse.ui.handlers">
        <handler
              commandId="org.jboss.tools.openshift.express.ui.command.newdomain"
              class="org.jboss.tools.openshift.express.internal.ui.command.NewDomainHandler">
     	</handler>
     </extension>
     <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleViewPopup.new?after=additions">
          <command
                commandId="org.jboss.tools.openshift.express.ui.command.newdomain"
                icon="icons/globe_new.png"
                id="org.jboss.tools.openshift.express.ui.command.newdomain"
                mnemonic="D">
           <visibleWhen>
             <with
                   variable="selection">
                <count
                      value="1">
                </count>
                	<or>
		                <iterate
		                      ifEmpty="false"
		                      operator="and">
			                 <instanceof
			                       value="org.jboss.tools.openshift.express.internal.core.connection.Connection" />
		                </iterate>
		                <iterate
		                      ifEmpty="false"
		                      operator="and">
			                 <instanceof
			                       value="com.openshift.client.IDomain" />
		                </iterate>
		            </or>
             </with>
           </visibleWhen>
          </command>
        </menuContribution>
    </extension>

	<!-- Edit Domain OpenShift Explorer -->
     <extension
           point="org.eclipse.ui.commands">
        <command
              id="org.jboss.tools.openshift.express.ui.command.editdomain"
              name="%openshift.command.editdomain">
        </command>
     </extension>
     <extension
           point="org.eclipse.ui.handlers">
        <handler
              commandId="org.jboss.tools.openshift.express.ui.command.editdomain"
              class="org.jboss.tools.openshift.express.internal.ui.command.EditDomainHandler">
     	</handler>
     </extension>
     <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?before=group.edition">
          <command
                commandId="org.jboss.tools.openshift.express.ui.command.editdomain"
                icon="icons/globe_edit.png"
                id="org.jboss.tools.openshift.express.ui.command.editdomain"
                mnemonic="E">
           <visibleWhen>
             <with
                   variable="selection">
                <count
                      value="1">
                </count>
                <iterate
                      ifEmpty="false"
                      operator="and">
                 <instanceof
                       value="com.openshift.client.IDomain" />
                </iterate>
             </with>
           </visibleWhen>
          </command>
        </menuContribution>
    </extension>

	<!-- Delete Domain OpenShift Explorer -->
     <extension
           point="org.eclipse.ui.commands">
        <command
              id="org.jboss.tools.openshift.express.ui.command.deletedomain"
              name="%openshift.command.deletedomain">
        </command>
     </extension>
     <extension
           point="org.eclipse.ui.handlers">
        <handler
              commandId="org.jboss.tools.openshift.express.ui.command.deletedomain"
              class="org.jboss.tools.openshift.express.internal.ui.command.DeleteDomainHandler">
     	</handler>
     </extension>
     <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?before=group.edition">
          <command
                commandId="org.jboss.tools.openshift.express.ui.command.deletedomain"
                icon="icons/globe_delete.png"
                id="org.jboss.tools.openshift.express.ui.command.deletedomain"
                mnemonic="D">
           <visibleWhen>
             <with
                   variable="selection">
                <count
                      value="1">
                </count>
                <iterate
                      ifEmpty="false"
                      operator="and">
                 <instanceof
                       value="com.openshift.client.IDomain" />
                </iterate>
             </with>
           </visibleWhen>
          </command>
        </menuContribution>
    </extension>
    
    <!-- New Application -->
    <extension
           point="org.eclipse.ui.commands">
        <command
              id="org.jboss.tools.openshift.express.ui.command.newapplication"
              name="%openshift.command.newapplication">
        </command>
    </extension>
    <extension
           point="org.eclipse.ui.handlers">
        <handler
              commandId="org.jboss.tools.openshift.express.ui.command.newapplication"
              class="org.jboss.tools.openshift.express.internal.ui.command.NewApplicationHandler">
     	</handler>
    </extension>
    <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleViewPopup.new?after=additions">
          <command
                commandId="org.jboss.tools.openshift.express.ui.command.newapplication"
                icon="icons/query-new.gif"
                id="org.jboss.tools.openshift.express.ui.command.newapplication"
                mnemonic="A">
           <visibleWhen>
             <with
                   variable="selection">
                <count
                      value="1">
                </count>
                <or>
	                <iterate
	                      ifEmpty="false"
	                      operator="and">
	                 <instanceof
	                       value="com.openshift.client.IDomain" />
	                </iterate>
	                <iterate
	                      ifEmpty="false"
	                      operator="and">
	                 <instanceof
	                       value="org.jboss.tools.openshift.express.internal.core.connection.Connection" />
	                </iterate>
	            </or>
             </with>
           </visibleWhen>
          </command>
        </menuContribution>
    </extension>

    <!-- Import Application -->
    <extension
           point="org.eclipse.ui.commands">
        <command
              id="org.jboss.tools.openshift.express.ui.command.importapplication"
              name="%openshift.command.importapplication">
        </command>
    </extension>
    <extension
           point="org.eclipse.ui.handlers">
        <handler
              commandId="org.jboss.tools.openshift.express.ui.command.importapplication"
              class="org.jboss.tools.openshift.express.internal.ui.command.ImportApplicationHandler">
     	</handler>
    </extension>
    <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.edition">
          <command
                commandId="org.jboss.tools.openshift.express.ui.command.importapplication"
                icon="icons/application_import.gif"
                id="org.jboss.tools.openshift.express.ui.command.importapplication"
                mnemonic="A">
           <visibleWhen>
             <with
                   variable="selection">
                <count
                      value="1">
                </count>
                <iterate
                      ifEmpty="false"
                      operator="and">
                 <instanceof
                       value="com.openshift.client.IApplication" />
                </iterate>
             </with>
           </visibleWhen>
          </command>
        </menuContribution>
    </extension>
     
     <!-- Delete Applications -->
     <extension
           point="org.eclipse.ui.commands">
        <command
              id="org.jboss.tools.openshift.express.ui.command.deleteApplications"
              name="%openshift.command.application.delete">
        </command>
     </extension>
     <extension
           point="org.eclipse.ui.handlers">
        <handler
              commandId="org.jboss.tools.openshift.express.ui.command.deleteApplications"
              class="org.jboss.tools.openshift.express.internal.ui.command.DeleteApplicationHandler">
     	</handler>
     </extension>
     <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.edition">
          <command
                commandId="org.jboss.tools.openshift.express.ui.command.deleteApplications"
                icon="icons/application_delete.gif"
                id="org.jboss.tools.openshift.express.ui.command.deleteApplications"
                mnemonic="D">
           <visibleWhen>
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false"
                      operator="or">
                 <instanceof
                       value="com.openshift.client.IApplication" />
                </iterate>
             </with>
           </visibleWhen>
          </command>
        </menuContribution>
    </extension>
    
     <!-- Edit embeddable cartridges -->
     <extension
           point="org.eclipse.ui.commands">
        <command
              id="org.jboss.tools.openshift.express.ui.command.editcartridges"
              name="%openshift.command.application.editcartridges">
        </command>
     </extension>
     <extension
           point="org.eclipse.ui.handlers">
        <handler
              commandId="org.jboss.tools.openshift.express.ui.command.editcartridges"
              class="org.jboss.tools.openshift.express.internal.ui.command.EditCartridgesHandler">
     	</handler>
     </extension>
     <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.edition">
          <command
                commandId="org.jboss.tools.openshift.express.ui.command.editcartridges"
                icon="icons/cartridges-edit.gif"
                id="org.jboss.tools.openshift.express.ui.command.editcartridges"
                mnemonic="C">
           <visibleWhen>
             <with
                   variable="selection">
				<or>
					<and>
		                <count
							value="1">
		                </count>
		                <iterate
							ifEmpty="false"
							operator="and">
							<instanceof
								value="com.openshift.client.IApplication" />
		                </iterate>
		            </and>
					<and>
		                <count
							value="+">
		                </count>
		                <iterate
							ifEmpty="false"
							operator="and">
							<instanceof
								value="com.openshift.client.cartridge.IEmbeddedCartridge" />
						</iterate>
					</and>
                </or>
             </with>
           </visibleWhen>
          </command>
        </menuContribution>
    </extension>
     
	<!-- restart application OpenShift Explorer -->
	     <extension
           point="org.eclipse.ui.commands">
        <command
              id="org.jboss.tools.openshift.express.ui.command.restartApplication"
              name="%openshift.command.application.restart">
        </command>
     </extension>
     <extension
           point="org.eclipse.ui.handlers">
        <handler
              class="org.jboss.tools.openshift.express.internal.ui.command.RestartApplicationHandler"
              commandId="org.jboss.tools.openshift.express.ui.command.restartApplication">
        </handler>
     </extension>
     <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.edition">
          <command
                commandId="org.jboss.tools.openshift.express.ui.command.restartApplication"
                icon="icons/key-icon.png"
                id="org.jboss.tools.openshift.express.ui.command.manageKeys"
                mnemonic="R">
              <visibleWhen>
				<with variable="selection">
					<and>
						<count value="1" />
	         			<iterate ifEmpty="false" operator="or">
	            			<instanceof
	                       		value="com.openshift.client.IApplication" />
	                    </iterate>
					</and>
                </with>
              </visibleWhen>
          </command>
        </menuContribution>
     </extension>
	
	<!-- configure markers -->
	<extension
           point="org.eclipse.ui.commands">
		<command
			id="org.jboss.tools.openshift.express.ui.command.configureMarkers"
			name="%openshift.command.configureMarkers">
		</command>
	</extension>
    <extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.jboss.tools.openshift.express.internal.ui.command.ConfigureMarkersHandler"
			commandId="org.jboss.tools.openshift.express.ui.command.configureMarkers">
		</handler>
    </extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
	    	locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
	    	<menu
	           id="org.jboss.tools.openshift.express.ui.projectExplorerPopup"
	           label="%openshift.menu.openshift">
	           <visibleWhen 
					checkEnabled="false">
					<with variable="selection">
						<and>
							<count value="1" />
							<iterate ifEmpty="false">
	 							<test
			               			forcePluginActivation="true"
			               			property="org.jboss.tools.openshift.express.isOpenShiftProject" value="true"/>
					        </iterate>
						</and>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
        <menuContribution
			locationURI="popup:org.jboss.tools.openshift.express.ui.projectExplorerPopup"> 
			<command
			    commandId="org.jboss.tools.openshift.express.ui.command.configureMarkers"
			    icon="icons/marker16.png"
			    id="org.jboss.tools.openshift.express.ui.command.configureMarkers"
			    mnemonic="M">
			</command>
        </menuContribution>
		<menuContribution
	    	locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
	    	<menu
	           id="org.jboss.tools.openshift.express.ui.packageExplorerPopup"
	           label="%openshift.menu.openshift">
	           <visibleWhen 
					checkEnabled="false">
					<with variable="selection">
						<and>
							<count value="1" />
							<iterate ifEmpty="false">
								<adapt
              						type="org.eclipse.core.resources.IProject">
		 							<test
		 								forcePluginActivation="true"
				               			property="org.jboss.tools.openshift.express.isOpenShiftProject" value="true"/>
								</adapt>
			               	</iterate>
						</and>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
        <menuContribution
			locationURI="popup:org.jboss.tools.openshift.express.ui.projectExplorerPopup"> 
			<command
			    commandId="org.jboss.tools.openshift.express.ui.command.configureMarkers"
			    icon="icons/marker16.png"
			    id="org.jboss.tools.openshift.express.ui.command.configureMarkers"
			    mnemonic="M">
			</command>
        </menuContribution>
		<menuContribution
	    	locationURI="popup:org.eclipse.ui.views.ResourceNavigator">
	    	<menu
	           id="org.jboss.tools.openshift.express.ui.resourceNavigatorPopup"
	           label="%openshift.menu.openshift">
	           <visibleWhen 
					checkEnabled="false">
					<with variable="selection">
						<and>
							<count value="1" />
							<iterate ifEmpty="false">
								<adapt
              						type="org.eclipse.core.resources.IProject">
		 							<test
		 								forcePluginActivation="true"
				               			property="org.jboss.tools.openshift.express.isOpenShiftProject" value="true"/>
								</adapt>
			               	</iterate>
						</and>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
        <menuContribution
			locationURI="popup:org.jboss.tools.openshift.express.ui.resourceNavigatorPopup"> 
			<command
			    commandId="org.jboss.tools.openshift.express.ui.command.configureMarkers"
			    icon="icons/marker16.png"
			    id="org.jboss.tools.openshift.express.ui.command.configureMarkers"
			    mnemonic="M">
			</command>
        </menuContribution>
	</extension>
    <extension
       point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
          class="org.jboss.tools.openshift.express.internal.ui.command.OpenShiftProjectPropertyTester"
          id="org.jboss.tools.openshift.express.ui.openshiftProjectPropertyTester"
          namespace="org.jboss.tools.openshift.express"
          properties="isOpenShiftProject"
          type="org.eclipse.core.resources.IProject">
      </propertyTester>
	</extension>
	
</plugin>
