<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding
			viewerId="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView">
			<includes>
				<contentExtension
					isRoot="true"
					pattern="org.jboss.tools.openshift.ui.explorer.navigatorContent">
				</contentExtension>
			</includes>
		</viewerContentBinding>
	</extension>
	<extension
		point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
			contentProvider="org.jboss.tools.openshift.internal.ui.explorer.OpenShiftExplorerContentProvider"
			id="org.jboss.tools.openshift.ui.explorer.navigatorContent"
			labelProvider="org.jboss.tools.openshift.internal.ui.explorer.OpenShiftExplorerLabelProvider"
			name="org.jboss.tools.openshift.ui.explorer.navigatorContent">
			<possibleChildren>
				<or>
					<instanceof
						value="com.openshift.restclient.model.IProject" />
					<instanceof
						value="com.openshift.restclient.model.IService" />
					<instanceof
						value="com.openshift.restclient.model.IPod" />
					<instanceof
						value="com.openshift.restclient.model.IReplicationController" />
					<instanceof
						value="com.openshift.restclient.model.IBuildConfig" />
					<instanceof
						value="com.openshift.restclient.model.IDeploymentConfig" />
					<instanceof
						value="org.jboss.tools.openshift.internal.ui.explorer.ResourceGrouping" />
				</or>
			</possibleChildren>
			<triggerPoints>
				<or>
					<instanceof
						value="org.jboss.tools.openshift.core.connection.Connection" />
					<instanceof
						value="com.openshift.restclient.model.IProject" />
					<instanceof
						value="org.jboss.tools.openshift.internal.ui.explorer.ResourceGrouping" />
				</or>
			</triggerPoints>
		</navigatorContent>
	</extension>
	<extension
		point="org.eclipse.ui.menus">
		<!-- openshift explorer context menu: new connection -->
		<menuContribution
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=additions">
			<command
         commandId="org.jboss.tools.openshift.ui.command.refresh.resource"
         icon="icons/refresh.gif"
         id="org.jboss.tools.openshift.ui.command.refresh.resource"
         style="push"
         tooltip="Refresh the resource">
				<visibleWhen>
					<and>
						<count
							value="1">
						</count>
						<iterate>
							<instanceof
								value="org.jboss.tools.openshift.common.core.IRefreshable" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
		<!-- openshift explorer context menu: new connection -->
		<menuContribution
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=additions">
			<command
         commandId="org.jboss.tools.openshift.ui.command.resource.delete"
         id="org.jboss.tools.openshift.ui.command.resource.delete"
         style="push"
         tooltip="Delete the resource">
				<visibleWhen>
					<and>
						<count
							value="1">
						</count>
						<iterate>
       <and>
          <instanceof
                value="com.openshift.restclient.model.IResource">
          </instanceof>
          <not>
             <instanceof
                   value="com.openshift.restclient.model.IProject">
             </instanceof>
          </not>
       </and>
						</iterate>
					</and>
				</visibleWhen>
			</command>
     <separator
           name="org.jboss.tools.openshift.ui.delete.separator"
           visible="true">
     </separator>
		</menuContribution>
  <menuContribution
        allPopups="false"
        locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleViewPopup.new?after=additions">
     <command
           commandId="org.jboss.tools.openshift.ui.command.application.new"
           id="org.jboss.tools.openshift.ui.command.application.new"
           style="push"
           tooltip="Create a new application">
        <visibleWhen
              checkEnabled="false">
           <and>
              <count
                    value="1">
              </count>
              <iterate>
                 <instanceof
                       value="com.openshift.restclient.model.IProject">
                 </instanceof>
              </iterate>
           </and>
        </visibleWhen>
     </command>
  </menuContribution>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.jboss.tools.openshift.internal.ui.handler.RefreshResourceHandler"
			commandId="org.jboss.tools.openshift.ui.command.refresh.resource">
		</handler>
  <handler
        class="org.jboss.tools.openshift.internal.ui.handler.NewApplicationHandler"
        commandId="org.jboss.tools.openshift.ui.command.application.new">
  </handler>
  <handler
        class="org.jboss.tools.openshift.internal.ui.handler.DeleteResourceHandler"
        commandId="org.jboss.tools.openshift.ui.command.resource.delete">
  </handler>
	</extension>
	<!-- adapters -->
	<extension
		point="org.eclipse.core.runtime.adapters">
		<factory
			adaptableType="com.openshift.restclient.model.IResource"
			class="org.jboss.tools.openshift.internal.ui.property.OpenShiftPropertySourceAdapterFactory">
			<adapter
				type="org.eclipse.ui.views.properties.IPropertySource">
		</adapter>
	</factory>
	<factory
		adaptableType="org.jboss.tools.openshift.core.connection.Connection"
		class="org.jboss.tools.openshift.internal.ui.property.OpenShiftPropertySourceAdapterFactory">
		<adapter
			type="org.eclipse.ui.views.properties.IPropertySource">
		</adapter>
	</factory>
	</extension>
	<!-- definitions -->
	<extension
		point="org.eclipse.core.expressions.definitions">
		<definition
			id="org.tools.openshift.express.ui.isOpenShiftProjectSelected">
			<with
				variable="selection">
				<iterate
					ifEmpty="false"
					operator="and">
					<count
						value="1" />
					<or>
						<instanceof
							value="com.openshift.restclient.model.IProject"/>
					</or>
				</iterate>
			</with>
		</definition>
	</extension>
	<extension
       point="org.eclipse.ui.commands">
		<command
			description="Refresh the Resource"
			id="org.jboss.tools.openshift.ui.command.refresh.resource"
			name="Refresh">
		</command>
  <command
        description="Create a new application from a template"
        id="org.jboss.tools.openshift.ui.command.application.new"
        name="Application">
  </command>
  <command
        description="Delete the Resource"
        id="org.jboss.tools.openshift.ui.command.resource.delete"
        name="Delete Resource...">
  </command>
	</extension>
	<extension
		point="org.jboss.tools.openshift.common.ui.connectionEditor">
		<connectionUI
			class="org.jboss.tools.openshift.internal.ui.wizard.connection.ConnectionEditor">
		</connectionUI>
	</extension>
</plugin>
