<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.jboss.tools.openshift.common.ui.explorer.expressConsoleView">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.jboss.tools.openshift.ui.explorer.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.jboss.tools.openshift.internal.ui.explorer.OpenShiftExplorerContentProvider"
            id="org.jboss.tools.openshift.ui.explorer.navigatorContent"
            labelProvider="org.jboss.tools.openshift.internal.ui.explorer.OpenShiftExplorerLabelProvider"
            name="org.jboss.tools.openshift.ui.explorer.navigatorContent">
         <possibleChildren>
            <or>
               <instanceof
                     value="com.openshift3.client.model.IProject">
               </instanceof>
               <instanceof
                     value="com.openshift3.client.model.IService">
               </instanceof>
               <instanceof
                     value="com.openshift3.client.model.IPod">
               </instanceof>
               <instanceof
                     value="com.openshift3.client.model.IReplicationController">
               </instanceof>
               <instanceof
                     value="com.openshift3.client.model.IBuildConfig">
               </instanceof>
               <instanceof
                     value="com.openshift3.client.model.IDeploymentConfig">
               </instanceof>
            </or>
         </possibleChildren>
         <triggerPoints>
            <instanceof
                  value="org.jboss.tools.openshift.core.connection.Connection">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.jboss.tools.openshift.internal.ui.OpenShiftUIActivator"></startup>
   </extension>

</plugin>
