<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding
			viewerId="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView">
			<includes>
				<contentExtension
					isRoot="true"
					pattern="org.jboss.tools.openshift.ui.explorer.navigatorContent">
				</contentExtension>
			</includes>
		</viewerContentBinding>
	</extension>
	<extension
		point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
			contentProvider="org.jboss.tools.openshift.internal.ui.explorer.OpenShiftExplorerContentProvider"
			id="org.jboss.tools.openshift.ui.explorer.navigatorContent"
			labelProvider="org.jboss.tools.openshift.internal.ui.explorer.OpenShiftExplorerLabelProvider"
			name="OpenShift 3 Explorer Content">
			<possibleChildren>
				<or>
					<instanceof
						value="com.openshift.restclient.model.IResource" />
     <instanceof
           value="org.jboss.tools.openshift.internal.ui.models.IResourcesUIModel">
     </instanceof>
     <instanceof
           value="org.jboss.tools.openshift.internal.ui.models.IResourceUIModel">
     </instanceof>
				</or>
			</possibleChildren>
			<triggerPoints>
				<or>
					<instanceof
						value="org.jboss.tools.openshift.core.connection.Connection" />
					<instanceof
						value="com.openshift.restclient.model.IProject" />
     <instanceof
           value="org.jboss.tools.openshift.internal.ui.models.IResourcesUIModel">
     </instanceof>
     <instanceof
           value="org.jboss.tools.openshift.internal.ui.models.IResourceUIModel">
     </instanceof>
				</or>
			</triggerPoints>
		</navigatorContent>
	</extension>
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.import">
			<command
				commandId="org.jboss.tools.openshift.ui.command.importapplication"
				icon="icons/application_import.gif"
				label="%openshift.command.application.import"
				mnemonic="A">
				<visibleWhen>
					<with
						variable="selection">
						<count
							value="1">
						</count>
						<iterate
							ifEmpty="false">
							<or>
								<instanceof
									value="org.jboss.tools.openshift.core.connection.Connection" />
								<instanceof
									value="com.openshift.restclient.model.IBuildConfig" />
								<instanceof
									value="com.openshift.restclient.model.IProject" />
							</or>
						</iterate>
					</with>
				</visibleWhen>
			</command>
			<command
				commandId="org.jboss.tools.openshift.ui.command.deployimage"
				icon="icons/layer.png"
				label="%openshift.command.application.deploydockerimage "
				style="push"
				tooltip="Deploy a Docker Image">
				<visibleWhen
					checkEnabled="false">
					<and>
						<count
							value="1">
						</count>
						<iterate>
							<or>
								<instanceof
									value="com.openshift.restclient.model.IProject" />
								<instanceof
									value="org.jboss.tools.openshift.core.connection.Connection" />
							</or>
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
		
		<!-- openshift explorer context menu: refresh resource -->
		<menuContribution
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.modify">
			<command
				commandId="org.jboss.tools.openshift.ui.command.resource.refresh"
				icon="icons/refresh.gif"
				id="org.jboss.tools.openshift.ui.command.resource.refresh"
				style="push"
				tooltip="Refresh the resource">
				<visibleWhen>
					<and>
						<count
							value="1" />
						<iterate>
							<or>
								<instanceof
									value="org.jboss.tools.openshift.common.core.IRefreshable" />
								<instanceof
									value="com.openshift.restclient.model.IResource" />
								<instanceof
                  					value="com.openshift.restclient.OpenShiftException" />
							</or>
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>

		<!-- openshift explorer context menu: new connection -->
		<menuContribution
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.edit">
			<command
         commandId="org.jboss.tools.openshift.ui.command.resource.delete"
         id="org.jboss.tools.openshift.ui.command.resource.delete"
         label="%openshift.command.delete "
         style="push"
         tooltip="Delete the resource">
				<visibleWhen>
					<and>
						<count
							value="1">
						</count>
      <instanceof
            value="org.jboss.tools.openshift.internal.ui.models.IResourceUIModel">
      </instanceof>
					</and>
				</visibleWhen>
			</command>
			<separator
				name="org.jboss.tools.openshift.ui.delete.separator"
					visible="true">
			</separator>
		</menuContribution>
		<menuContribution
			allPopups="false"
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleViewPopup.new?after=additions">
			<command
				commandId="org.jboss.tools.openshift.ui.command.project.new"
				style="push"
				icon="icons/globe_new.png"
				tooltip="Create a new project">
				<visibleWhen
					checkEnabled="false">
					<and>
						<count
							value="1" />
						<iterate>
						 <or>
							<instanceof
								value="com.openshift.restclient.model.IProject" />
							<instanceof
                    			value="org.jboss.tools.openshift.core.connection.Connection"/>
						 </or>
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
			allPopups="false"
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleViewPopup.new?after=additions">
			<command
				commandId="org.jboss.tools.openshift.ui.command.application.new"
				style="push"
				icon="icons/query-new.gif"
				tooltip="Create a new application">
				<visibleWhen
					checkEnabled="false">
					<and>
						<count
							value="1" />
						<iterate>
						 <or>
							<instanceof
								value="com.openshift.restclient.model.IProject" />
							<instanceof
                    			value="org.jboss.tools.openshift.core.connection.Connection"/>
						 </or>
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
			allPopups="false"
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.modify">
		   <command
		         commandId="org.jboss.tools.openshift.ui.command.startbuild"
		         id="org.jboss.tools.openshift.ui.explorer.command.startbuild">
		      <visibleWhen>
		         <with
		               variable="selection">
		            <and>
		               <count
		                     value="1">
		               </count>
		               <iterate
		                     ifEmpty="false"
		                     operator="and">
		                  <instanceof
		                        value="com.openshift.restclient.model.IBuildConfig">
		                  </instanceof>
		               </iterate>
		            </and>
		         </with>
		      </visibleWhen>
		   </command>
		</menuContribution>
		<menuContribution
			allPopups="false"
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.modify">
		   <command
		         commandId="org.jboss.tools.openshift.ui.command.editresource"
		         id="org.jboss.tools.openshift.ui.explorer.command.editresource">
		      <visibleWhen>
		         <with
		               variable="selection">
		            <and>
		               <count
		                     value="1">
		               </count>
		               <iterate
		                     ifEmpty="false">
		                  <or>
		                  <instanceof
		                        value="com.openshift.restclient.model.IBuildConfig">
		                  </instanceof>
		                  <instanceof
		                        value="com.openshift.restclient.model.IDeploymentConfig">
		                  </instanceof>
		                  <instanceof
		                        value="com.openshift.restclient.model.IPod">
		                  </instanceof>
		                  <instanceof
		                        value="com.openshift.restclient.model.IImageStream">
		                  </instanceof>
		                  <instanceof
		                        value="com.openshift.restclient.model.IReplicationController">
		                  </instanceof>
		                  <instanceof
		                        value="com.openshift.restclient.model.IService">
		                  </instanceof>
		                  <instanceof
		                        value="com.openshift.restclient.model.route.IRoute">
		                  </instanceof>
		                  </or>
		               </iterate>
		            </and>
		         </with>
		      </visibleWhen>
		   </command>
		</menuContribution>
		<menuContribution
			allPopups="false"
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.modify">
		   <command
		         commandId="org.jboss.tools.openshift.ui.command.clonebuild"
		         id="org.jboss.tools.openshift.ui.explorer.command.clonebuild">
		      <visibleWhen>
		         <with
		               variable="selection">
		            <and>
		               <count
		                     value="1">
		               </count>
		               <iterate
		                     ifEmpty="false"
		                     operator="and">
		                  <instanceof
		                        value="com.openshift.restclient.model.IBuild">
		                  </instanceof>
		               </iterate>
		            </and>
		         </with>
		      </visibleWhen>
		   </command>
		</menuContribution>
		<menuContribution
			allPopups="false"
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.modify">
		   <command
		         commandId="org.jboss.tools.openshift.ui.command.showwebhooks"
		         id="org.jboss.tools.openshift.ui.explorer.command.showwebhooks">
		      <visibleWhen>
		         <with
		               variable="selection">
		            <and>
		               <count
		                     value="1">
		               </count>
		               <iterate
		                     ifEmpty="false"
		                     operator="and">
		                  <instanceof
		                        value="com.openshift.restclient.model.IBuildConfig">
		                  </instanceof>
		               </iterate>
		            </and>
		         </with>
		      </visibleWhen>
		   </command>
		</menuContribution>
 		<menuContribution
        	allPopups="false"
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.showIn">
			<command
				commandId="org.jboss.tools.openshift.ui.command.project.manage"
				style="push"
				tooltip="Manage Projects">
				<visibleWhen
					checkEnabled="false">
					<and>
						<count
							value="1">
						</count>
						<iterate>
							<or>
								<instanceof
									value="org.jboss.tools.openshift.core.connection.Connection"/>
							</or>
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
			allPopups="false"
        	locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.showIn">
			<command
         commandId="org.eclipse.ui.edit.delete"
         icon="icons/globe_delete.png"
         label="%openshift.command.delete"
         style="push"
         tooltip="Delete Project">
				<visibleWhen
					checkEnabled="false">
					<and>
						<!-- TODO support deletion of several projects in 1 command -->
						<count
                    		value="1">
						</count>
						<or>
						<iterate>
         <instanceof
               value="org.jboss.tools.openshift.internal.ui.models.IProjectAdapter">
         </instanceof>
						</iterate>
						</or>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
			allPopups="false"
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.modify">
			<command
				commandId="org.jboss.tools.openshift.ui.command.portforwarding"
				id="org.jboss.tools.openshift.ui.explorer.command.portforwarding"
				tooltip="The openshift binary must be set in user preferences in order to use port forwarding">
				<visibleWhen>
					<with
						variable="selection">
						<and>
							<count
								value="1">
							</count>
		                	<iterate
								ifEmpty="false"
								operator="and">
								<instanceof
									value="com.openshift.restclient.model.IPod" />
							</iterate>
						</and>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
			allPopups="false"
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.modify">
			<command
				commandId="org.jboss.tools.openshift.ui.command.podlogs"
				id="org.jboss.tools.openshift.ui.explorer.command.podlogs"
				tooltip="The openshift binary must be set in user preferences in order to retrieve pod logs">
				<visibleWhen>
					<with
						variable="selection">
						<and>
							<count
								value="1">
							</count>
							<iterate
								ifEmpty="false"
								operator="and">
								<instanceof
									value="com.openshift.restclient.model.IPod">
								</instanceof>
							</iterate>
						</and>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
			allPopups="false"
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.modify">
			<command
				commandId="org.jboss.tools.openshift.ui.command.buildlogs"
				id="org.jboss.tools.openshift.ui.explorer.command.buildlogs"
				tooltip="The openshift binary must be set in user preferences in order to retrieve build logs">
				<visibleWhen>
					<with
						variable="selection">
						<and>
							<count
								value="1">
							</count>
							<iterate
								ifEmpty="false"
								operator="and">
                    			<instanceof
									value="com.openshift.restclient.model.IBuild">
								</instanceof>
							</iterate>
						</and>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
			allPopups="false"
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.properties">
			<command
				commandId="org.eclipse.ui.file.properties"
				id="org.jboss.tools.openshift.ui.explorer.command.showproperties">
				<visibleWhen>
					<with
						variable="selection">
						<and>
							<count
								value="1">
							</count>
							<iterate
								ifEmpty="false">
								<or>
									<instanceof
										value="com.openshift.restclient.model.IResource">
									</instanceof>
									<instanceof
										value="org.jboss.tools.openshift.core.connection.Connection">
									</instanceof>
								</or>
							</iterate>
						</and>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
			allPopups="false"
			locationURI="popup:org.eclipse.linuxtools.docker.ui.dockerExplorerView#PopupMenu">
			<separator
				name="org.jboss.tools.openshift.ui.separator.docker.explorer"
				visible="true">
			</separator>
			<command
				commandId="org.jboss.tools.openshift.ui.command.deployimage"
				icon="icons/openshift-logo-white-icon.png"
				id="org.jboss.tools.openshift.ui.docker.explorer.deploy"
				style="push">
				<visibleWhen
					checkEnabled="false">
					<with
						variable="selection">
						<and>
							<count
								value="1">
							</count>
							<iterate
								ifEmpty="false"
								operator="and">
								<instanceof
									value="org.eclipse.linuxtools.docker.core.IDockerImage">
								</instanceof>
							</iterate>
						</and>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
  <menuContribution
        allPopups="false"
        locationURI="popup:org.jboss.tools.openshift.ui.properties.tab.BuildsTab">
     <command
           commandId="org.jboss.tools.openshift.ui.command.buildlogs"
           id="org.jboss.tools.openshift.ui.explorer.command.buildlogs"
           tooltip="The openshift binary must be set in user preferences in order to retrieve build logs">
     </command>
     <separator
           name="org.jboss.tools.openshift.ui.properties.tab.BuildsTab.separator1"
           visible="true">
     </separator>
     <command
           commandId="org.jboss.tools.openshift.ui.command.startbuild"
           style="push">
        <parameter
              name="org.jboss.tools.openshift.ui.command.startbuild.source"
              value="BuildConfig">
        </parameter>
     </command>
     <command
           commandId="org.jboss.tools.openshift.ui.command.clonebuild"
           style="push">
     </command>
     <separator
           name="org.jboss.tools.openshift.ui.properties.tab.BuildsTab.separator2"
           visible="true">
     </separator>
     <command
           commandId="org.jboss.tools.openshift.ui.command.resource.delete"
           style="push">
     </command>
  </menuContribution>
  <menuContribution
        allPopups="false"
        locationURI="popup:org.jboss.tools.openshift.ui.properties.tab.BuildConfigsTab">
  </menuContribution>
  <menuContribution
        allPopups="false"
        locationURI="popup:org.jboss.tools.openshift.ui.properties.tab.DeploymentConfigsTab">
  </menuContribution>
  <menuContribution
        allPopups="false"
        locationURI="popup:org.jboss.tools.openshift.ui.properties.tab.PodsTab">
  </menuContribution>
  <menuContribution
        allPopups="false"
        locationURI="popup:org.jboss.tools.openshift.ui.properties.tab.ReplicationControllersTab">
  </menuContribution>
  <menuContribution
        allPopups="false"
        locationURI="popup:org.jboss.tools.openshift.ui.properties.tab.ImageStreamsTab">
  </menuContribution>
  <menuContribution
        allPopups="false"
        locationURI="popup:org.jboss.tools.openshift.ui.properties.tab.RoutesTab">
  </menuContribution>
  <menuContribution
        allPopups="false"
        locationURI="popup:org.jboss.tools.openshift.ui.properties.tab.ResourceTab">
  </menuContribution>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.jboss.tools.openshift.internal.ui.handler.ManageProjectsHandler"
			commandId="org.jboss.tools.openshift.ui.command.project.manage">
		</handler>
		<handler
			class="org.jboss.tools.openshift.internal.ui.handler.DeleteProjectsHandler"
			commandId="org.eclipse.ui.edit.delete">
				<activeWhen>
					<and>
						<count
							value="1">
						</count>
						<iterate>
         <or>
            <instanceof
                  value="org.jboss.tools.openshift.internal.ui.models.IProjectAdapter">
            </instanceof>
         </or>
						</iterate>
					</and>
				</activeWhen>
		</handler>
		<handler
			class="org.jboss.tools.openshift.internal.ui.handler.NewProjectHandler"
			commandId="org.jboss.tools.openshift.ui.command.project.new">
		</handler>
  		<handler
			class="org.jboss.tools.openshift.internal.ui.handler.NewApplicationHandler"
			commandId="org.jboss.tools.openshift.ui.command.application.new">
		</handler>
		<handler
			class="org.jboss.tools.openshift.internal.ui.handler.DeleteResourceHandler"
			commandId="org.eclipse.ui.edit.delete">
				<activeWhen>
					<and>
						<count
							value="1">
						</count>
						<iterate>
							<and>
								<instanceof
									value="com.openshift.restclient.model.IResource" />
								<not>
									<instanceof
										value="com.openshift.restclient.model.IProject" />
								</not>
							</and>
						</iterate>
					</and>
				</activeWhen>
		</handler>
		<handler
			class="org.jboss.tools.openshift.internal.ui.handler.RefreshResourceHandler"
			commandId="org.jboss.tools.openshift.ui.command.resource.refresh">
		</handler>
		<handler
			class="org.jboss.tools.openshift.internal.ui.handler.PortForwardingHandler"
			commandId="org.jboss.tools.openshift.ui.command.portforwarding">
		</handler>
		<handler
			class="org.jboss.tools.openshift.internal.ui.handler.StartBuildHandler"
			commandId="org.jboss.tools.openshift.ui.command.startbuild">
		</handler>
		<handler
			class="org.jboss.tools.openshift.internal.ui.handler.StartBuildHandler"
			commandId="org.jboss.tools.openshift.ui.command.clonebuild">
		</handler>
		<handler
			class="org.jboss.tools.openshift.internal.ui.handler.PodLogsHandler"
			commandId="org.jboss.tools.openshift.ui.command.podlogs">
		</handler>
		<handler
			class="org.jboss.tools.openshift.internal.ui.handler.ShowWebHooksHandler"
			commandId="org.jboss.tools.openshift.ui.command.showwebhooks">
		</handler>
		<handler
			class="org.jboss.tools.openshift.internal.ui.handler.ShowPropertiesHandler"
			commandId="org.eclipse.ui.file.properties">
				<activeWhen>
					<with
						variable="selection">
						<and>
							<count
								value="1">
							</count>
							<iterate
								ifEmpty="false">
								<or>
									<instanceof
										value="com.openshift.restclient.model.IResource">
									</instanceof>
									<instanceof
										value="org.jboss.tools.openshift.core.connection.Connection">
									</instanceof>
								</or>
							</iterate>
						</and>
					</with>
				</activeWhen>
		</handler>
		<handler
			class="org.jboss.tools.openshift.internal.ui.handler.DeployImageHandler"
			commandId="org.jboss.tools.openshift.ui.command.deployimage">
		</handler>
		<handler
			class="org.jboss.tools.openshift.internal.ui.handler.OpenInWebConsoleHandler"
			commandId="org.jboss.tools.openshift.ui.command.openInWebConsole">
		</handler>
		<handler
			class="org.jboss.tools.openshift.internal.ui.handler.EditResourceHandler"
			commandId="org.jboss.tools.openshift.ui.command.editresource">
		</handler>
	</extension>
	
	<!-- adapters -->
	<extension
		point="org.eclipse.core.runtime.adapters">
		<factory
			adaptableType="com.openshift.restclient.model.IResource"
			class="org.jboss.tools.openshift.internal.ui.property.OpenShiftPropertySourceAdapterFactory">
			<adapter
				type="org.eclipse.ui.views.properties.IPropertySource">
		</adapter>
	</factory>
	<factory
		adaptableType="org.jboss.tools.openshift.core.connection.Connection"
		class="org.jboss.tools.openshift.internal.ui.property.OpenShiftPropertySourceAdapterFactory">
		<adapter
			type="org.eclipse.ui.views.properties.IPropertySource">
		</adapter>
	</factory>
	<factory
		adaptableType="org.eclipse.wst.server.core.IServer"
		class="org.jboss.tools.openshift.internal.ui.server.OpenShiftServerAdapterFactory">
		<adapter
			type="org.eclipse.wst.server.ui.IServerModule">
		</adapter>
	</factory>
 <factory
       adaptableType="org.jboss.tools.openshift.internal.ui.models.Deployment"
       class="org.jboss.tools.openshift.internal.ui.property.OpenShiftPropertySourceAdapterFactory">
    <adapter
          type="org.eclipse.ui.views.properties.IPropertySource">
    </adapter>
 </factory>
 <factory
       adaptableType="org.jboss.tools.openshift.internal.common.ui.explorer.OpenShiftExplorerView"
       class="org.jboss.tools.openshift.internal.ui.property.tabbed.ExplorerViewTabbedPropertyAdapterFactory">
    <adapter
          type="org.eclipse.ui.views.properties.IPropertySheetPage">
    </adapter>
 </factory>
 <factory
       adaptableType="org.jboss.tools.openshift.internal.ui.models.IResourceUIModel"
       class="org.jboss.tools.openshift.internal.ui.property.OpenShiftPropertySourceAdapterFactory">
    <adapter
          type="org.eclipse.ui.views.properties.IPropertySource">
    </adapter>
    <adapter
          type="org.eclipse.ui.views.properties.IPropertySource">
    </adapter>
 </factory>
	</extension>

	<!-- definitions -->
	<extension
		point="org.eclipse.core.expressions.definitions">
		<definition
			id="org.tools.openshift.express.ui.isOpenShiftProjectSelected">
			<with
				variable="selection">
				<iterate
					ifEmpty="false"
					operator="and">
					<count
						value="1" />
					<or>
						<instanceof
							value="com.openshift.restclient.model.IProject"/>
					</or>
				</iterate>
			</with>
		</definition>
	</extension>
	<extension
       point="org.eclipse.ui.commands">
		<command
			description="Create a new application from a template"
			id="org.jboss.tools.openshift.ui.command.application.new"
			name="Application">
		</command>
		<command
			description="Create a new project"
			id="org.jboss.tools.openshift.ui.command.project.new"
			name="Project">
		</command>
		<command
			description="Delete the Resource"
			id="org.jboss.tools.openshift.ui.command.resource.delete"
			name="Delete Resource...">
		</command>
		<command
			description="Manage Projects"
			id="org.jboss.tools.openshift.ui.command.project.manage"
			name="%openshift.command.project.manage">
		</command>
		<command
			description="Refresh the Resource"
			id="org.jboss.tools.openshift.ui.command.resource.refresh"
			name="Refresh">
		</command>
		<command
			id="org.jboss.tools.openshift.ui.command.portforwarding"
			name="%openshift.command.application.portforwarding">
		</command>
		<command
			id="org.jboss.tools.openshift.ui.command.startbuild"
			name="%openshift.command.build.startbuild">
     <commandParameter
           id="org.jboss.tools.openshift.ui.command.startbuild.source"
           name="name"
           optional="true">
     </commandParameter>
		</command>
		<command
			id="org.jboss.tools.openshift.ui.command.clonebuild"
			name="%openshift.command.build.clonebuild">
		</command>
		<command
			id="org.jboss.tools.openshift.ui.command.podlogs"
			name="%openshift.command.pod.logs">
		</command>
		<command
			defaultHandler="org.jboss.tools.openshift.internal.ui.handler.PodLogsHandler"
			id="org.jboss.tools.openshift.ui.command.buildlogs"
			name="%openshift.command.build.logs">
		</command>
		<command
			id="org.jboss.tools.openshift.ui.command.showwebhooks"
			name="%openshift.command.build.showwebhooks">
		</command>
		<command
			id="org.jboss.tools.openshift.ui.command.showproperties"
			name="%openshift.command.showproperties">
		</command>
		<command
			id="org.jboss.tools.openshift.ui.command.deployimage"
			name="%openshift.command.application.deployimage">
		</command>
		<command
			id="org.jboss.tools.openshift.ui.command.openInWebConsole"
			name="%openshift.command.openwebconsole">
		</command>
		<command
			id="org.jboss.tools.openshift.ui.command.editresource"
			name="%openshift.command.editresource">
		</command>
	</extension>

	<!-- editor for express connections -->
	<extension
		point="org.jboss.tools.openshift.ui.connectionEditor">
		<connectionEditor
			class="org.jboss.tools.openshift.internal.ui.wizard.connection.ConnectionEditor">
		</connectionEditor>
	</extension>

	<!-- application wizard for connections -->
	<extension
		point="org.jboss.tools.openshift.ui.newApplicationWizard">
		<newApplicationWizard
			class="org.jboss.tools.openshift.internal.ui.wizard.newapp.NewApplicationWizard"
			connection="org.jboss.tools.openshift.core.connection.Connection">
    	</newApplicationWizard>
    </extension>

	<!-- import wizard application -->
	<extension
		point="org.jboss.tools.openshift.ui.importApplicationWizard">
		<importApplicationWizard
			class="org.jboss.tools.openshift.internal.ui.wizard.importapp.ImportApplicationWizard"
			connection="org.jboss.tools.openshift.core.connection.Connection">
    	</importApplicationWizard>
    </extension>


    <!-- Import Application -->
    <extension
           point="org.eclipse.ui.commands">
        <command
              id="org.jboss.tools.openshift.ui.command.importapplication"
              name="%openshift.command.application.import">
        </command>
    </extension>
    <extension
           point="org.eclipse.ui.handlers">
        <handler
              commandId="org.jboss.tools.openshift.ui.command.importapplication"
              class="org.jboss.tools.openshift.internal.ui.handler.ImportApplicationHandler">
     	</handler>
    </extension>
	<!-- openshift explorer: import application -->

	<!-- Open In Browser -->
	<extension
		point="org.eclipse.ui.commands">
		<command
			id="org.jboss.tools.openshift.ui.command.openInBrowser"
			name="Web Browser">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
              commandId="org.jboss.tools.openshift.ui.command.openInBrowser"
              class="org.jboss.tools.openshift.internal.ui.handler.OpenInWebBrowserHandler">
    	</handler>
	</extension>
	<extension
		point="org.eclipse.ui.menus">
		<!-- openshift explorer: open in browser -->
		<menuContribution
			locationURI="popup:org.eclipse.ui.views.PropertySheet">
			<command
				commandId="org.jboss.tools.openshift.ui.command.openInBrowser"
				icon="icons/open-browser.gif"
				label="Web Browser"
				mnemonic="B">
					<visibleWhen>
						<with
							variable="selection">
							<count value="1"/>
							<iterate
								ifEmpty="false">
								<or>
									<instanceof
										value="com.openshift.restclient.model.route.IRoute" />
									<instanceof
										value="com.openshift.restclient.model.IProject" />
								</or>
						</iterate>
					</with>
				</visibleWhen>
			</command>
        </menuContribution>
    </extension>
	<extension
		point="org.eclipse.ui.menus">
		<!-- openshift explorer: open in web console -->
		<menuContribution
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleViewPopup.showIn">
			<command
				commandId="org.jboss.tools.openshift.ui.command.openInWebConsole"
				icon="icons/open-web-console.gif"
				label="Web Console"
				mnemonic="C">
					<visibleWhen>
						<with
							variable="selection">
							<count value="1"/>
							<iterate
								ifEmpty="false">
								<or>
									<instanceof
										value="org.jboss.tools.openshift.core.connection.Connection" />
									<instanceof
										value="com.openshift.restclient.model.IResource" />
								</or>
						</iterate>
					</with>
				</visibleWhen>
			</command>
        </menuContribution>
    </extension>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			category="org.jboss.tools.common.model.ui.MainPreferencePage"
			class="org.jboss.tools.openshift.internal.ui.preferences.OpenShiftPreferencePage"
			id="org.jboss.tools.openshift.ui.preferences.OpenShiftPreferencePage"
			name="%openshift.preferences.page.title">
		</page>
		<page
			category="org.jboss.tools.openshift.ui.preferences.OpenShiftPreferencePage"
			class="org.jboss.tools.openshift.internal.ui.preferences.SSLCertificatesPreferencePage"
			id="org.jboss.tools.openshift.ui.preferences.SSLCertificatesPreferencePage"
			name="%openshift.preferences.page.certificates.title">
		</page>
	</extension>
 
 	<!-- OpenShift 3 server adapter icon -->
	<extension
		point="org.eclipse.wst.server.ui.serverImages">
		<image
			icon="icons/openshift-logo-white-icon.png"
			typeIds="org.jboss.tools.openshift.server.type,org.jboss.tools.openshift.core.server.OpenShiftRuntime"
			id="org.jboss.tools.openshift.server.icon"/>
	</extension>
 
 	<!-- OpenShift 3 server editor -->
	<extension
		point="org.eclipse.wst.server.ui.editorPageSections">
		<section
			class="org.jboss.tools.openshift.internal.ui.server.OpenShiftServerEditorSection"
			id="org.jboss.tools.openshift.ui.behaviour.details.section"
			insertionId="org.eclipse.wst.server.editor.overview.left"
			order="10"
			typeIds="org.jboss.tools.openshift.server.type">
		</section>
	</extension>
	
	<!-- OpenShift 3 server wizard -->
	<extension
			point="org.eclipse.wst.server.ui.wizardFragments">
		<fragment
			class="org.jboss.tools.openshift.internal.ui.server.OpenShiftServerWizardFragment"
			id="org.jboss.tools.openshift.ui.server.fragment"
			typeIds="org.jboss.tools.openshift.server.type">
		</fragment>
	</extension>
	
	<!-- Core UI Integration: ssl certificate callback -->
 	<extension
		point="org.jboss.tools.openshift.core.sslCertificateCallbackUI">
		<sslCertificateCallbackUI
			class="org.jboss.tools.openshift.internal.ui.wizard.connection.SSLCertificateCallback" />
	</extension>
	<!-- Core UI Integration: route chooser -->
	<extension
		point="org.jboss.tools.openshift.core.routeChooser">
		<routeChooser
			class="org.jboss.tools.openshift.internal.ui.route.RouteChooser" />
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders"> 
		<provider 
			inputTypes="org.jboss.tools.openshift.internal.ui.property.OpenShiftResourceInput" 
			class="org.jboss.tools.openshift.internal.ui.property.OpenShiftResourceDocumentProvider" 
			id="org.jboss.tools.openshift.ui.text.OpenShiftResourceDocumentProvider"> 
		</provider> 
	</extension>

<extension point="org.eclipse.ui.editors.documentProviders"> 
    <provider 
        inputTypes="org.jboss.tools.openshift.internal.ui.property.OpenShiftResourceInput" 
        class="org.jboss.tools.openshift.internal.ui.property.OpenShiftResourceDocumentProvider" 
        id="org.jboss.tools.openshift.ui.text.OpenShiftResourceDocumentProvider"> 
    </provider> 
</extension>
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
   <propertyTabs
         contributorId="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView">
      <propertyTab
            category="org.jboss.tools.openshift.ui.explorer.expressConsoleView.Deployments"
            id="org.jboss.tools.openshift.ui.properties.tab.builds"
            label="%openshift.explorer.properties.tab.builds">
      </propertyTab>
      <propertyTab
            afterTab="org.jboss.tools.openshift.ui.properties.tab.builds"
            category="org.jboss.tools.openshift.ui.explorer.expressConsoleView.Deployments"
            id="org.jboss.tools.openshift.ui.properties.tab.buildConfigs"
            label="%openshift.explorer.properties.tab.buildConfigs">
      </propertyTab>
      <propertyTab
            afterTab="org.jboss.tools.openshift.ui.properties.tab.replicationControllers"
            category="org.jboss.tools.openshift.ui.explorer.expressConsoleView.Deployments"
            id="org.jboss.tools.openshift.ui.properties.tab.deploymentConfigs"
            label="%openshift.explorer.properties.tab.deploymentConfigs">
      </propertyTab>
      <propertyTab
            afterTab="org.jboss.tools.openshift.ui.properties.tab.deploymentConfigs"
            category="org.jboss.tools.openshift.ui.explorer.expressConsoleView.Deployments"
            id="org.jboss.tools.openshift.ui.properties.tab.pods"
            label="%openshift.explorer.properties.tab.pods">
      </propertyTab>
      <propertyTab
            afterTab="org.jboss.tools.openshift.ui.properties.tab.buildConfigs"
            category="org.jboss.tools.openshift.ui.explorer.expressConsoleView.Deployments"
            id="org.jboss.tools.openshift.ui.properties.tab.replicationControllers"
            label="%openshift.explorer.properties.tab.replicationControllers">
      </propertyTab>
      <propertyTab
            afterTab="org.jboss.tools.openshift.ui.properties.tab.replicationControllers"
            category="org.jboss.tools.openshift.ui.explorer.expressConsoleView.Deployments"
            id="org.jboss.tools.openshift.ui.properties.tab.imageStreams"
            label="%openshift.explorer.properties.tab.imageStreams">
      </propertyTab>
      <propertyTab
            afterTab="org.jboss.tools.openshift.ui.properties.tab.replicationControllers"
            category="org.jboss.tools.openshift.ui.explorer.expressConsoleView.Deployments"
            id="org.jboss.tools.openshift.ui.properties.tab.routes"
            label="%openshift.explorer.properties.tab.routes">
      </propertyTab>
      <propertyTab
            category="org.jboss.tools.openshift.ui.explorer.expressConsoleView.Projects"
            id="org.jboss.tools.openshift.ui.properties.tab.project.builds"
            label="%openshift.explorer.properties.tab.builds">
      </propertyTab>
        <propertyTab
            afterTab="org.jboss.tools.openshift.ui.properties.tab.project.builds"
            category="org.jboss.tools.openshift.ui.explorer.expressConsoleView.Projects"
            id="org.jboss.tools.openshift.ui.properties.tab.project.buildConfigs"
            label="%openshift.explorer.properties.tab.buildConfigs">
      </propertyTab>
      <propertyTab
            afterTab="org.jboss.tools.openshift.ui.properties.tab.project.replicationControllers"
            category="org.jboss.tools.openshift.ui.explorer.expressConsoleView.Projects"
            id="org.jboss.tools.openshift.ui.properties.tab.project.deploymentConfigs"
            label="%openshift.explorer.properties.tab.deploymentConfigs">
      </propertyTab>
      <propertyTab
            afterTab="org.jboss.tools.openshift.ui.properties.tab.project.deploymentConfigs"
            category="org.jboss.tools.openshift.ui.explorer.expressConsoleView.Projects"
            id="org.jboss.tools.openshift.ui.properties.tab.project.pods"
            label="%openshift.explorer.properties.tab.pods">
      </propertyTab>
      <propertyTab
            afterTab="org.jboss.tools.openshift.ui.properties.project.tab.buildConfigs"
            category="org.jboss.tools.openshift.ui.explorer.expressConsoleView.Projects"
            id="org.jboss.tools.openshift.ui.properties.tab.project.replicationControllers"
            label="%openshift.explorer.properties.tab.replicationControllers">
      </propertyTab>
      <propertyTab
            afterTab="org.jboss.tools.openshift.ui.properties.project.tab.replicationControllers"
            category="org.jboss.tools.openshift.ui.explorer.expressConsoleView.Projects"
            id="org.jboss.tools.openshift.ui.properties.tab.project.imageStreams"
            label="%openshift.explorer.properties.tab.imageStreams">
      </propertyTab>
      <propertyTab
            afterTab="org.jboss.tools.openshift.ui.properties.project.tab.replicationControllers"
            category="org.jboss.tools.openshift.ui.explorer.expressConsoleView.Projects"
            id="org.jboss.tools.openshift.ui.properties.tab.project.routes"
            label="%openshift.explorer.properties.tab.routes">
      </propertyTab>
      <propertyTab
            afterTab="org.jboss.tools.openshift.ui.properties.project.tab.routes"
            category="org.jboss.tools.openshift.ui.explorer.expressConsoleView.Projects"
            id="org.jboss.tools.openshift.ui.properties.tab.project.services"
            label="%openshift.explorer.properties.tab.services">
      </propertyTab>
   </propertyTabs>
</extension>
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
   <propertySections
         contributorId="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView">
      <propertySection
            class="org.jboss.tools.openshift.internal.ui.property.tabbed.BuildsPropertySection"
            enablesFor="1"
            id="org.jboss.tools.openshift.ui.properties.tab.section.builds"
            tab="org.jboss.tools.openshift.ui.properties.tab.builds">
         <input
               type="org.jboss.tools.openshift.internal.ui.models.Deployment">
         </input>
         <input
               type="org.jboss.tools.openshift.internal.ui.models.OpenShiftProjectUIModel">
         </input>
      </propertySection>
      <propertySection
            class="org.jboss.tools.openshift.internal.ui.property.tabbed.OpenShiftResourcePropertySection"
            enablesFor="1"
            id="org.jboss.tools.openshift.ui.properties.tab.section.buildConfigs"
            tab="org.jboss.tools.openshift.ui.properties.tab.buildConfigs">
         <input
               type="org.jboss.tools.openshift.internal.ui.models.Deployment">
         </input>
         <input
               type="org.jboss.tools.openshift.internal.ui.models.OpenShiftProjectUIModel">
         </input>
      </propertySection>
      <propertySection
            class="org.jboss.tools.openshift.internal.ui.property.tabbed.OpenShiftResourcePropertySection"
            enablesFor="1"
            id="org.jboss.tools.openshift.ui.properties.tab.section.pods"
            tab="org.jboss.tools.openshift.ui.properties.tab.pods">
         <input
               type="org.jboss.tools.openshift.internal.ui.models.Deployment">
         </input>
         <input
               type="org.jboss.tools.openshift.internal.ui.models.OpenShiftProjectUIModel">
         </input>
      </propertySection>
      <propertySection
            class="org.jboss.tools.openshift.internal.ui.property.tabbed.OpenShiftResourcePropertySection"
            enablesFor="1"
            id="org.jboss.tools.openshift.ui.properties.tab.section.imageStreams"
            tab="org.jboss.tools.openshift.ui.properties.tab.imageStreams">
         <input
               type="org.jboss.tools.openshift.internal.ui.models.Deployment">
         </input>
         <input
               type="org.jboss.tools.openshift.internal.ui.models.OpenShiftProjectUIModel">
         </input>
      </propertySection>
      <propertySection
            class="org.jboss.tools.openshift.internal.ui.property.tabbed.OpenShiftResourcePropertySection"
            enablesFor="1"
            id="org.jboss.tools.openshift.ui.properties.tab.section.replicationControllers"
            tab="org.jboss.tools.openshift.ui.properties.tab.replicationControllers">
         <input
               type="org.jboss.tools.openshift.internal.ui.models.Deployment">
         </input>
         <input
               type="org.jboss.tools.openshift.internal.ui.models.OpenShiftProjectUIModel">
         </input>
      </propertySection>
      <propertySection
            class="org.jboss.tools.openshift.internal.ui.property.tabbed.OpenShiftResourcePropertySection"
            enablesFor="1"
            id="org.jboss.tools.openshift.ui.properties.tab.section.routes"
            tab="org.jboss.tools.openshift.ui.properties.tab.routes">
         <input
               type="org.jboss.tools.openshift.internal.ui.models.Deployment">
         </input>
         <input
               type="org.jboss.tools.openshift.internal.ui.models.OpenShiftProjectUIModel">
         </input>
      </propertySection>
      <propertySection
            class="org.jboss.tools.openshift.internal.ui.property.tabbed.OpenShiftResourcePropertySection"
            enablesFor="1"
            id="org.jboss.tools.openshift.ui.properties.tab.section.deploymentConfigs"
            tab="org.jboss.tools.openshift.ui.properties.tab.deploymentConfigs">
         <input
               type="org.jboss.tools.openshift.internal.ui.models.Deployment">
         </input>
         <input
               type="org.jboss.tools.openshift.internal.ui.models.OpenShiftProjectUIModel">
         </input>
      </propertySection>
      <propertySection
            class="org.jboss.tools.openshift.internal.ui.property.tabbed.OpenShiftResourcePropertySection"
            enablesFor="1"
            id="org.jboss.tools.openshift.ui.properties.tab.section.services"
            tab="org.jboss.tools.openshift.ui.properties.tab.project.services">
         <input
               type="org.jboss.tools.openshift.internal.ui.models.OpenShiftProjectUIModel">
         </input>
      </propertySection>
   </propertySections>
</extension>
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
   <propertyContributor
         contributorId="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView">
      <propertyCategory
            category="org.jboss.tools.openshift.ui.explorer.expressConsoleView.Deployments">
      </propertyCategory>
      <propertyCategory
            category="org.jboss.tools.openshift.ui.explorer.expressConsoleView.Projects">
      </propertyCategory>
   </propertyContributor>
</extension>
</plugin>
