<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jboss.tools.openshift.io.internal.ui.handler.GetTokenHandler"
            commandId="org.jboss.tools.openshift.osio.ui.command.gettoken">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jboss.tools.openshift.osio.ui.command.gettoken"
            name="%openshiftio.command.gettoken">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=org.eclipse.ui.workbench.help">
         <toolbar
               id="org.jboss.tools.openshift.io.ui.toolbar1">
            <command
                  commandId="org.jboss.tools.openshift.osio.ui.command.gettoken"
                  icon="icons/osio-16x16.png"
                  label="%openshiftio.command.gettoken"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.jboss.tools.common.model.ui.MainPreferencePage"
            class="org.jboss.tools.openshift.io.internal.ui.preferences.MainPreferencePage"
            id="org.jboss.tools.openshift.io.ui.preferences.MainPreferencePage"
            name="OpenShift.io">
      </page>
   </extension>
   <extension
         point="org.jboss.tools.openshift.io.core.loginProvider">
      <loginProvider
            class="org.jboss.tools.openshift.io.internal.ui.DefaultLoginProvider">
      </loginProvider>
   </extension>
</plugin>
