<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            behaviourClass="org.jboss.tools.openshift.cdk.server.core.internal.adapter.CDKServerBehaviour"
            class="org.jboss.tools.openshift.cdk.server.core.internal.adapter.CDKServer"
            name="%openshift.cdk.name"
            description="%openshift.cdk.description"
            hasConfiguration="false"
            id="org.jboss.tools.openshift.cdk.server.type"
            initialState="stopped"
            launchConfigId="org.jboss.tools.openshift.cdk.server.core.internal.behaviour.launchType"
            launchModes="run"
            runtime="false"
            runtimeTypeId="org.jboss.tools.openshift.cdk.server.runtime.type"
            startBeforePublish="false"
            startTimeout="1800000"
            stopTimeout="900000"
            supportsRemoteHosts="false"/>
 
    
    <serverType
            behaviourClass="org.jboss.tools.openshift.cdk.server.core.internal.adapter.CDKServerBehaviour"
            class="org.jboss.tools.openshift.cdk.server.core.internal.adapter.CDK3Server"
            name="%openshift.cdk3.name"
            description="%openshift.cdk3.description"
            hasConfiguration="false"
            id="org.jboss.tools.openshift.cdk.server.type.v3"
            initialState="stopped"
            launchConfigId="org.jboss.tools.openshift.cdk.server.core.internal.behaviour.launchType"
            launchModes="run"
            runtime="false"
            runtimeTypeId="org.jboss.tools.openshift.cdk.server.runtime.type"
            startBeforePublish="false"
            startTimeout="1800000"
            stopTimeout="900000"
            supportsRemoteHosts="false"/>
    </extension>
    
    
   <extension point="org.eclipse.wst.server.core.runtimeTypes">
         <!-- This is a complete dummy runtime type and is unused but cannot be removed -->
      <runtimeType
            class="org.jboss.tools.openshift.cdk.server.core.internal.adapter.runtime.DummyServerRuntime"
            description="A runtime representing a Vagrant container."
            id="org.jboss.tools.openshift.cdk.server.runtime.type"
            name="CDK"
            supportsManualCreation="false"
            vendor="%enterpriseProviderName"
            version="1.0">
      </runtimeType>
	</extension> 
    
    
    <!-- Launch Configuration for the servers -->
	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            category="Red Hat"
            delegate="org.jboss.ide.eclipse.as.wtp.core.server.launch.ControllableServerLaunchConfiguration"
            id="org.jboss.tools.openshift.cdk.server.core.internal.behaviour.launchType"
            modes="run"
            name="Red Hat CDK Server Startup Configuration"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jst.server.generic.core.sourcePathComputer"/>
	</extension>





   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="$nl$/icons/cdk_box_16.png"
            typeIds="org.jboss.tools.openshift.cdk.server.type,org.jboss.tools.openshift.cdk.server.type.v3,org.jboss.tools.openshift.cdk.server.runtime.type"
            id="org.jboss.tools.openshift.cdk.server.type.icon"/>
   </extension>

   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="org.jboss.tools.openshift.cdk.server.ui.internal.CDKServerWizardFragment"
            typeIds="org.jboss.tools.openshift.cdk.server.type"
        	id="org.jboss.tools.openshift.cdk.server.type.VagrantServerWizardFragment"/>
   </extension>


   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="org.jboss.tools.openshift.cdk.server.ui.internal.CDK3ServerWizardFragment"
            typeIds="org.jboss.tools.openshift.cdk.server.type.v3"
        	id="org.jboss.tools.openshift.cdk.server.ui.internal.CDK3ServerWizardFragment"/>
   </extension>




   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.jboss.tools.openshift.cdk.server.ui.internal.CDKLaunchConfigurationTabGroup"
            description="Launch Tabs for CDK Server"
            id="org.jboss.tools.openshift.cdk.server.ui.internal.CDKLaunchConfigurationTabGroup"
            type="org.jboss.tools.openshift.cdk.server.core.internal.behaviour.launchType"/>
   </extension>



   <extension
         point="org.eclipse.wst.server.ui.editorPageSections">
      <section
            class="org.jboss.tools.openshift.cdk.server.ui.internal.CDK2LocationSection"
            id="org.jboss.tools.openshift.cdk.server.ui.internal.LocationSection"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="8"
            typeIds="org.jboss.tools.openshift.cdk.server.type"/>
      <section
            class="org.jboss.tools.openshift.cdk.server.ui.internal.MinishiftLocationSection"
            id="org.jboss.tools.openshift.cdk.server.ui.internal.LocationSection2"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="8"
            typeIds="org.jboss.tools.openshift.cdk.server.type.v3"/>
            
      <section
            class="org.jboss.tools.openshift.cdk.server.ui.internal.CDKCredentialSection"
            id="org.jboss.tools.openshift.cdk.server.ui.internal.CDKCredentialSection"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="9"
            typeIds="org.jboss.tools.openshift.cdk.server.type,org.jboss.tools.openshift.cdk.server.type.v3"/>
   </extension>
   
   
   <!-- command handler to start the server -->
   <extension point="org.eclipse.ui.commands">
      <command
            id="org.jboss.tools.openshift.cdk.server.ui.internal.launchCDKServer"
            name="%launch_cdk_server">
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.handlers">
         <handler
            class="org.jboss.tools.openshift.cdk.server.ui.internal.commands.LaunchCDKServerHandler"
            commandId="org.jboss.tools.openshift.cdk.server.ui.internal.launchCDKServer">
      </handler>
   </extension>
   <extension
         point="org.jboss.tools.runtime.core.runtimeDetectors">
      <runtimeDetector
            class="org.jboss.tools.openshift.cdk.server.core.internal.detection.CDKRuntimeDetector"
            enabled="true"
            id="org.jboss.tools.openshift.cdk.server.core.internal.detection.CDKRuntimeDetector"
            name="Container Development Environment">
      </runtimeDetector>
      <runtimeDetector
            class="org.jboss.tools.openshift.cdk.server.core.internal.detection.CDK3RuntimeDetector"
            enabled="true"
            id="org.jboss.tools.openshift.cdk.server.core.internal.detection.CDK3RuntimeDetector"
            name="Container Development Environment 3">
      </runtimeDetector>
   </extension>


   <!-- CDK 2.x launch / shutdown Controllers  -->
   <extension
         point="org.jboss.ide.eclipse.as.wtp.core.serverSubsystem">
      <subsystem
            system="launch"
            id="launch.cdk"
            name="Launch the CDK Server"
            class="org.jboss.tools.openshift.cdk.server.core.internal.adapter.controllers.CDKLaunchController">
      </subsystem>
      <subsystemMapping
            id="launch.cdk"
            mappedId="launch.cdk"
            serverTypes="org.jboss.tools.openshift.cdk.server.type">
      </subsystemMapping>

      <subsystem
            system="shutdown"
            id="shutdown.cdk"
            name="Shutdown the CDK Server"
            class="org.jboss.tools.openshift.cdk.server.core.internal.adapter.controllers.CDKShutdownController">
      </subsystem>
      <subsystemMapping
            id="shutdown.cdk"
            mappedId="shutdown.cdk"
            serverTypes="org.jboss.tools.openshift.cdk.server.type">
      </subsystemMapping>
   </extension>
   
   
   
      <!-- CDK 3 / minishift -  launch / shutdown Controllers -->
   <extension
         point="org.jboss.ide.eclipse.as.wtp.core.serverSubsystem">
      <subsystem
            system="launch"
            id="launch.cdk3"
            name="Launch the CDK 3 Server"
            class="org.jboss.tools.openshift.cdk.server.core.internal.adapter.controllers.CDK3LaunchController">
      </subsystem>
      <subsystemMapping
            id="launch.cdk3"
            mappedId="launch.cdk3"
            serverTypes="org.jboss.tools.openshift.cdk.server.type.v3">
      </subsystemMapping>

      <subsystem
            system="shutdown"
            id="shutdown.cdk3"
            name="Shutdown the CDK 3 Server"
            class="org.jboss.tools.openshift.cdk.server.core.internal.adapter.controllers.CDK3ShutdownController">
      </subsystem>
      <subsystemMapping
            id="shutdown.cdk3"
            mappedId="shutdown.cdk3"
            serverTypes="org.jboss.tools.openshift.cdk.server.type.v3">
      </subsystemMapping>
   </extension>
   
   
   
   <!-- Show in actions for other views -->
    <extension point="org.eclipse.ui.navigator.navigatorContent">
       <actionProvider
          class="org.jboss.tools.openshift.cdk.server.ui.internal.view.CDKActionProvider"
          id="org.jboss.tools.openshift.cdk.server.ui.internal.view.CDKActionProvider">
          <enablement>
             <instanceof value="org.eclipse.wst.server.core.IServer"></instanceof>
          </enablement>
       </actionProvider>
    </extension>
  	<extension point="org.eclipse.ui.navigator.viewer">
    <viewerActionBinding
          viewerId="org.eclipse.wst.server.ui.ServersView">
       <includes>
          <actionExtension
                pattern="org.jboss.tools.openshift.cdk.server.ui.internal.view.CDKActionProvider"/>
       </includes>
    </viewerActionBinding>
	</extension>
	
	
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/cdk_box_16.png"
            configTypeID="org.jboss.tools.openshift.cdk.server.core.internal.behaviour.launchType"
            id="org.jboss.tools.openshift.cdk.server.core.internal.behaviour.launchIcon"/>
   </extension>
   <extension
         point="org.jboss.tools.runtime.core.runtimeDetectionResolutionProvider">
      <resolutionProvider
            class="org.jboss.tools.openshift.cdk.server.ui.internal.detection.MissingMinishiftResolutionProvider"
            weight="10">
      </resolutionProvider>
   </extension>
	
</plugin>
