<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            behaviourClass="org.jboss.tools.openshift.internal.cdk.server.core.adapter.CDKServerBehaviour"
            class="org.jboss.tools.openshift.internal.cdk.server.core.adapter.CDKServer"
            name="%openshift.cdk.name"
            description="%openshift.cdk.description"
            hasConfiguration="false"
            id="org.jboss.tools.openshift.cdk.server.type"
            initialState="stopped"
            launchConfigId="org.jboss.tools.openshift.cdk.server.core.internal.behaviour.launchType"
            launchModes="run"
            runtime="false"
            runtimeTypeId="org.jboss.tools.openshift.cdk.server.runtime.type"
            startBeforePublish="false"
            startTimeout="1800000"
            stopTimeout="900000"
            supportsRemoteHosts="false"/>
 
    
    <serverType
            behaviourClass="org.jboss.tools.openshift.internal.cdk.server.core.adapter.CDKServerBehaviour"
            class="org.jboss.tools.openshift.internal.cdk.server.core.adapter.CDK3Server"
            name="%openshift.cdk3.name"
            description="%openshift.cdk3.description"
            hasConfiguration="false"
            id="org.jboss.tools.openshift.cdk.server.type.v3"
            initialState="stopped"
            launchConfigId="org.jboss.tools.openshift.cdk.server.core.internal.behaviour.launchType"
            launchModes="run"
            runtime="false"
            runtimeTypeId="org.jboss.tools.openshift.cdk.server.runtime.type.cdk.30"
            startBeforePublish="false"
            startTimeout="1800000"
            stopTimeout="900000"
            supportsRemoteHosts="false"/>
    <serverType
            behaviourClass="org.jboss.tools.openshift.internal.cdk.server.core.adapter.CDKServerBehaviour"
            class="org.jboss.tools.openshift.internal.cdk.server.core.adapter.CDK32Server"
            name="%openshift.cdk32.name"
            description="%openshift.cdk32.description"
            hasConfiguration="false"
            id="org.jboss.tools.openshift.cdk.server.type.v32"
            initialState="stopped"
            launchConfigId="org.jboss.tools.openshift.cdk.server.core.internal.behaviour.launchType"
            launchModes="run"
            runtime="false"
            runtimeTypeId="org.jboss.tools.openshift.cdk.server.runtime.type.cdk.32"
            startBeforePublish="false"
            startTimeout="1800000"
            stopTimeout="900000"
            supportsRemoteHosts="false"/>
    <serverType
            behaviourClass="org.jboss.tools.openshift.internal.cdk.server.core.adapter.CDKServerBehaviour"
            class="org.jboss.tools.openshift.internal.cdk.server.core.adapter.Minishift17Server"
            name="%openshift.minishift17.name"
            description="%openshift.minishift17.description"
            hasConfiguration="false"
            id="org.jboss.tools.openshift.cdk.server.type.minishift.v17"
            initialState="stopped"
            launchConfigId="org.jboss.tools.openshift.cdk.server.core.internal.behaviour.launchType"
            launchModes="run"
            runtime="false"
            runtimeTypeId="org.jboss.tools.openshift.cdk.server.runtime.type.minishift.17"
            startBeforePublish="false"
            startTimeout="1800000"
            stopTimeout="900000"
            supportsRemoteHosts="false"/>

    <serverType
            behaviourClass="org.jboss.tools.openshift.internal.crc.server.core.adapter.CRCServerBehaviour"
            class="org.jboss.tools.openshift.internal.crc.server.core.adapter.CRC100Server"
            name="%openshift.crc.100.name"
            description="%openshift.crc.100.description"
            hasConfiguration="false"
            id="org.jboss.tools.openshift.crc.server.type.crc.v100"
            initialState="stopped"
            launchConfigId="org.jboss.tools.openshift.cdk.server.core.internal.behaviour.launchType"
            launchModes="run"
            runtime="false"
            runtimeTypeId="org.jboss.tools.openshift.crc.server.runtime.type.crc.100"
            startBeforePublish="false"
            startTimeout="1800000"
            stopTimeout="900000"
            supportsRemoteHosts="false"/>

    </extension>
    
    
   <extension point="org.eclipse.wst.server.core.runtimeTypes">
         <!-- This is a complete dummy runtime type and is unused but cannot be removed -->
      <runtimeType
            class="org.jboss.tools.openshift.internal.cdk.server.core.adapter.runtime.DummyServerRuntime"
            description="A runtime representing a Vagrant container."
            id="org.jboss.tools.openshift.cdk.server.runtime.type"
            name="CDK"
            supportsManualCreation="false"
            vendor="%enterpriseProviderName"
            version="1.0">
      </runtimeType>
      
      <runtimeType
            class="org.jboss.tools.openshift.internal.cdk.server.core.adapter.runtime.DummyServerRuntime"
            description="A runtime representing a minishift 1.7+ container."
            id="org.jboss.tools.openshift.cdk.server.runtime.type.minishift.17"
            name="Minishift"
            supportsManualCreation="false"
            vendor="%enterpriseProviderName"
            version="1.0">
      </runtimeType>

      <runtimeType
            class="org.jboss.tools.openshift.internal.cdk.server.core.adapter.runtime.DummyServerRuntime"
            description="A runtime representing a CDK 3.0+ container."
            id="org.jboss.tools.openshift.cdk.server.runtime.type.cdk.30"
            name="CDK 3.0+"
            supportsManualCreation="false"
            vendor="%enterpriseProviderName"
            version="1.0">
      </runtimeType>

      <runtimeType
            class="org.jboss.tools.openshift.internal.cdk.server.core.adapter.runtime.DummyServerRuntime"
            description="A runtime representing a CDK 3.2+ container."
            id="org.jboss.tools.openshift.cdk.server.runtime.type.cdk.32"
            name="CDK 3.2+"
            supportsManualCreation="false"
            vendor="%enterpriseProviderName"
            version="1.0">
      </runtimeType>

      <runtimeType
            class="org.jboss.tools.openshift.internal.cdk.server.core.adapter.runtime.DummyServerRuntime"
            description="A runtime representing a CRC 1.0.0 container."
            id="org.jboss.tools.openshift.crc.server.runtime.type.crc.100"
            name="CRC 1.0"
            supportsManualCreation="false"
            vendor="%enterpriseProviderName"
            version="1.0">
      </runtimeType>
      
      
	</extension> 

    
    <!-- Launch Configuration for the servers -->
	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            category="Red Hat"
            delegate="org.jboss.ide.eclipse.as.wtp.core.server.launch.ControllableServerLaunchConfiguration"
            id="org.jboss.tools.openshift.cdk.server.core.internal.behaviour.launchType"
            modes="run"
            name="Red Hat CRC / CDK / Minishift Server Startup Configuration"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jst.server.generic.core.sourcePathComputer"/>
	</extension>





   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="$nl$/icons/cdk_box_16.png"
            typeIds="org.jboss.tools.openshift.cdk.server.type,org.jboss.tools.openshift.cdk.server.type.v3,org.jboss.tools.openshift.cdk.server.type.v32,org.jboss.tools.openshift.cdk.server.type.minishift.v17,org.jboss.tools.openshift.cdk.server.runtime.type,org.jboss.tools.openshift.crc.server.type.crc.v100,org.jboss.tools.openshift.crc.server.runtime.type.crc.100"
            id="org.jboss.tools.openshift.cdk.server.type.icon"/>
   </extension>

   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="org.jboss.tools.openshift.internal.cdk.server.ui.CDKServerWizardFragment"
            typeIds="org.jboss.tools.openshift.cdk.server.type"
        	id="org.jboss.tools.openshift.cdk.server.type.VagrantServerWizardFragment"/>
   </extension>


   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="org.jboss.tools.openshift.internal.cdk.server.ui.CDK3ServerWizardFragment"
            typeIds="org.jboss.tools.openshift.cdk.server.type.v3"
        	id="org.jboss.tools.openshift.cdk.server.ui.internal.CDK3ServerWizardFragment"/>
      <fragment
            class="org.jboss.tools.openshift.internal.cdk.server.ui.CDK32ServerWizardFragment"
            typeIds="org.jboss.tools.openshift.cdk.server.type.v32"
        	id="org.jboss.tools.openshift.cdk.server.ui.internal.CDK32ServerWizardFragment"/>
      <fragment
            class="org.jboss.tools.openshift.internal.cdk.server.ui.Minishift17ServerWizardFragment"
            typeIds="org.jboss.tools.openshift.cdk.server.type.minishift.v17"
        	id="org.jboss.tools.openshift.cdk.server.ui.internal.Minishift17ServerWizardFragment"/>
   </extension>

   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="org.jboss.tools.openshift.internal.crc.server.ui.CRC100ServerWizardFragment"
            typeIds="org.jboss.tools.openshift.crc.server.type.crc.v100"
        	id="org.jboss.tools.openshift.internal.crc.server.ui.CRC100ServerWizardFragment"/>
   </extension>


   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.jboss.tools.openshift.internal.cdk.server.ui.CDKLaunchConfigurationTabGroup"
            description="Launch Tabs for CDK / Minishift Server"
            id="org.jboss.tools.openshift.cdk.server.ui.internal.CDKLaunchConfigurationTabGroup"
            type="org.jboss.tools.openshift.cdk.server.core.internal.behaviour.launchType"/>
   </extension>



   <extension
         point="org.eclipse.wst.server.ui.editorPageSections">
      <section
            class="org.jboss.tools.openshift.internal.cdk.server.ui.CDK2LocationSection"
            id="org.jboss.tools.openshift.cdk.server.ui.internal.LocationSection"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="8"
            typeIds="org.jboss.tools.openshift.cdk.server.type"/>
      <section
            class="org.jboss.tools.openshift.internal.cdk.server.ui.MinishiftLocationSection"
            id="org.jboss.tools.openshift.cdk.server.ui.internal.LocationSection3"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="8"
            typeIds="org.jboss.tools.openshift.cdk.server.type.v3"/>
      <section
            class="org.jboss.tools.openshift.internal.cdk.server.ui.CDK32LocationSection"
            id="org.jboss.tools.openshift.cdk.server.ui.internal.LocationSection32"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="8"
            typeIds="org.jboss.tools.openshift.cdk.server.type.v32"/>
      <section
            class="org.jboss.tools.openshift.internal.cdk.server.ui.Minishift17LocationSection"
            id="org.jboss.tools.openshift.cdk.server.ui.internal.LocationSectionMinishift17"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="8"
            typeIds="org.jboss.tools.openshift.cdk.server.type.minishift.v17"/>
      <section
            class="org.jboss.tools.openshift.internal.cdk.server.ui.CDKCredentialSection"
            id="org.jboss.tools.openshift.cdk.server.ui.internal.CDKCredentialSection"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="9"
            typeIds="org.jboss.tools.openshift.cdk.server.type,org.jboss.tools.openshift.cdk.server.type.v3"/>
      <section
            class="org.jboss.tools.openshift.internal.cdk.server.ui.CDK32CredentialSection"
            id="org.jboss.tools.openshift.cdk.server.ui.internal.CDK32CredentialSection"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="9"
            typeIds="org.jboss.tools.openshift.cdk.server.type.v32"/>
            
      <section
            class="org.jboss.tools.openshift.internal.crc.server.ui.CRCLocationSection"
            id="org.jboss.tools.openshift.crc.server.ui.internal.crc.LocationSection"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="8"
            typeIds="org.jboss.tools.openshift.crc.server.type.crc.v100"/>
      
   </extension>
   
   
   <!-- command handler to start the server -->
   <extension point="org.eclipse.ui.commands">
      <command
            id="org.jboss.tools.openshift.cdk.server.ui.internal.launchCDKServer"
            name="%launch_cdk_server">
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.handlers">
         <handler
            class="org.jboss.tools.openshift.internal.cdk.server.ui.commands.LaunchCDKServerHandler"
            commandId="org.jboss.tools.openshift.cdk.server.ui.internal.launchCDKServer">
      </handler>
   </extension>
   <extension
         point="org.jboss.tools.runtime.core.runtimeDetectors">
      <runtimeDetector
            class="org.jboss.tools.openshift.internal.cdk.server.core.detection.CDKRuntimeDetector"
            enabled="true"
            id="org.jboss.tools.openshift.cdk.server.core.internal.detection.CDKRuntimeDetector"
            name="%cdk.detector.2x">
      </runtimeDetector>
      <runtimeDetector
            class="org.jboss.tools.openshift.internal.cdk.server.core.detection.UnifiedMinishiftRuntimeDetector"
            enabled="true"
            id="org.jboss.tools.openshift.cdk.server.core.internal.detection.UnifiedMinishiftRuntimeDetector"
            name="%cdk.detector.3">
      </runtimeDetector>
   </extension>


   <!-- CDK 2.x launch / shutdown Controllers  -->
   <extension
         point="org.jboss.ide.eclipse.as.wtp.core.serverSubsystem">
      <subsystem
            system="launch"
            id="launch.cdk"
            name="Launch the CDK Server"
            class="org.jboss.tools.openshift.internal.cdk.server.core.adapter.controllers.CDKLaunchController">
      </subsystem>
      <subsystemMapping
            id="launch.cdk"
            mappedId="launch.cdk"
            serverTypes="org.jboss.tools.openshift.cdk.server.type">
      </subsystemMapping>

      <subsystem
            system="shutdown"
            id="shutdown.cdk"
            name="Shutdown the CDK Server"
            class="org.jboss.tools.openshift.internal.cdk.server.core.adapter.controllers.CDKShutdownController">
      </subsystem>
      <subsystemMapping
            id="shutdown.cdk"
            mappedId="shutdown.cdk"
            serverTypes="org.jboss.tools.openshift.cdk.server.type">
      </subsystemMapping>
   </extension>
   
   
   
      <!-- CDK 3 / minishift -  launch / shutdown Controllers -->
   <extension
         point="org.jboss.ide.eclipse.as.wtp.core.serverSubsystem">
      <subsystem
            system="launch"
            id="launch.cdk3"
            name="Launch the CDK 3 Server"
            class="org.jboss.tools.openshift.internal.cdk.server.core.adapter.controllers.CDK3LaunchController">
      </subsystem>
      <subsystemMapping
            id="launch.cdk3"
            mappedId="launch.cdk3"
            serverTypes="org.jboss.tools.openshift.cdk.server.type.v3,org.jboss.tools.openshift.cdk.server.type.v32,org.jboss.tools.openshift.cdk.server.type.minishift.v17">
      </subsystemMapping>

      <subsystem
            system="shutdown"
            id="shutdown.cdk3"
            name="Shutdown the CDK 3 Server"
            class="org.jboss.tools.openshift.internal.cdk.server.core.adapter.controllers.CDK3ShutdownController">
      </subsystem>
      <subsystemMapping
            id="shutdown.cdk3"
            mappedId="shutdown.cdk3"
            serverTypes="org.jboss.tools.openshift.cdk.server.type.v3,org.jboss.tools.openshift.cdk.server.type.v32,org.jboss.tools.openshift.cdk.server.type.minishift.v17">
      </subsystemMapping>
   </extension>
   
   
      <!-- CRC1 -  launch / shutdown Controllers -->
   <extension
         point="org.jboss.ide.eclipse.as.wtp.core.serverSubsystem">
      <subsystem
            system="launch"
            id="launch.crc100"
            name="Launch the CRC 1.0 Server"
            class="org.jboss.tools.openshift.internal.crc.server.core.adapter.controllers.CRC100LaunchController">
      </subsystem>
      <subsystemMapping
            id="launch.crc100"
            mappedId="launch.crc100"
            serverTypes="org.jboss.tools.openshift.crc.server.type.crc.v100">
      </subsystemMapping>

      <subsystem
            system="shutdown"
            id="shutdown.crc100"
            name="Shutdown the CRC 1.0 Server"
            class="org.jboss.tools.openshift.internal.crc.server.core.adapter.controllers.CRC100ShutdownController">
      </subsystem>
      <subsystemMapping
            id="shutdown.crc100"
            mappedId="shutdown.crc100"
            serverTypes="org.jboss.tools.openshift.crc.server.type.crc.v100">
      </subsystemMapping>
   </extension>
   
   
   
   <!-- Show in actions for other views -->
    <extension point="org.eclipse.ui.navigator.navigatorContent">
       <actionProvider
          class="org.jboss.tools.openshift.internal.cdk.server.ui.view.CDKActionProvider"
          id="org.jboss.tools.openshift.internal.cdk.server.ui.view.CDKActionProvider">
          <enablement>
             <instanceof value="org.eclipse.wst.server.core.IServer"></instanceof>
          </enablement>
       </actionProvider>
    </extension>
  	<extension point="org.eclipse.ui.navigator.viewer">
	    <viewerActionBinding
	          viewerId="org.eclipse.wst.server.ui.ServersView">
	       <includes>
	          <actionExtension
	                pattern="org.jboss.tools.openshift.internal.cdk.server.ui.view.CDKActionProvider"/>
	       </includes>
	    </viewerActionBinding>
	</extension>

    <extension point="org.eclipse.ui.navigator.navigatorContent">
       <actionProvider
          class="org.jboss.tools.openshift.internal.crc.server.ui.view.CRCActionProvider"
          id="org.jboss.tools.openshift.internal.crc.server.ui.view.CRCActionProvider">
          <enablement>
             <instanceof value="org.eclipse.wst.server.core.IServer"></instanceof>
          </enablement>
       </actionProvider>
    </extension>
  	<extension point="org.eclipse.ui.navigator.viewer">
	    <viewerActionBinding
	          viewerId="org.eclipse.wst.server.ui.ServersView">
	       <includes>
	          <actionExtension
	                pattern="org.jboss.tools.openshift.internal.crc.server.ui.view.CRCActionProvider"/>
	       </includes>
	    </viewerActionBinding>
	</extension>

	
	
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/cdk_box_16.png"
            configTypeID="org.jboss.tools.openshift.cdk.server.core.internal.behaviour.launchType"
            id="org.jboss.tools.openshift.cdk.server.core.internal.behaviour.launchIcon"/>
   </extension>
   <extension
         point="org.jboss.tools.runtime.core.runtimeDetectionResolutionProvider">
      <resolutionProvider
            class="org.jboss.tools.openshift.internal.cdk.server.ui.detection.MissingMinishiftResolutionProvider"
            weight="10">
      </resolutionProvider>
   </extension>
   <extension
         point="org.jboss.tools.openshift.core.connection.registryprovider">
      <registryProvider
            class="org.jboss.tools.openshift.internal.cdk.server.core.registry.CDKRegistryProvider"
            weight="5">
      </registryProvider>
   </extension>


   <extension
         point="org.jboss.tools.runtime.core.downloadRuntimeProvider">
      <provider
            class="org.jboss.tools.openshift.internal.cdk.server.core.detection.MinishiftDownloadRuntimesProvider">
      </provider>
   </extension>

	
</plugin>
