<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.jboss.tools.openshift.common.ui.connectionUI" name="Connection" schema="schema/org.jboss.tools.openshift.ui.connection.exsd"/>
    
    <!-- OpenShift Explorer view -->
    <extension
        point="org.eclipse.ui.views">
        <view
            id="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView"
            category="org.jboss.tools.common.model.ui.views"
            class="org.jboss.tools.openshift.internal.common.ui.explorer.OpenShiftExplorerView"
            icon="icons/openshift-logo-white-icon.png"
            name="OpenShift Explorer">
        </view>
    </extension>
    
    <extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.jboss.tools.common.ui.JBossPerspective">
			<view relative="org.eclipse.ui.views.ProblemView"
				relationship="stack"
				id="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView">
			</view>
      	</perspectiveExtension> 
	</extension>
	
	<!-- openshift explorer view: context menu -->
	<extension point="org.eclipse.ui.navigator.viewer">
		<viewer
			viewerId="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView">
			<popupMenu
				allowsPlatformContributions="true"
				id="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup">
				<insertionPoint
					name="group.new"
					separator="true"/>
				<insertionPoint
					name="group.showIn"
					separator="true"/>
				<insertionPoint
					name="group.edit"
					separator="true"/>
				<insertionPoint
					name="group.import"
					separator="true"/>
				<insertionPoint
					name="group.modify"
					separator="true"/>
				<insertionPoint
					name="additions"
					separator="true"/>
				<insertionPoint
					name="group.properties"
					separator="true"/>
			</popupMenu>
			<options>
				<property
					name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
					value="true">
				</property>
			</options>
		</viewer>
	</extension>
	
	<!-- openshift explorer view: toolbar/new connection -->
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="toolbar:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView">
				<command
					commandId="org.jboss.tools.openshift.common.ui.command.newconnection"
					icon="icons/openshift-new.png"
					id="org.jboss.tools.openshift.express.ui.command.newconnection"
					style="push"
					mnemonic="N">
				</command>
		</menuContribution>
	</extension>
	
	<!-- New Connection -->
	<extension
		point="org.eclipse.ui.commands">
		<command
              id="org.jboss.tools.openshift.common.ui.command.newconnection"
              name="%openshift.command.connection.new">
        </command>
  <command
        description="Refresh the Resource"
        id="org.jboss.tools.openshift.common.ui.command.refresh.resource"
        name="%openshift.common.command.refresh.resource">
  </command>
	</extension>
    <extension
		point="org.eclipse.ui.handlers">
		<handler
              commandId="org.jboss.tools.openshift.common.ui.command.newconnection"
              class="org.jboss.tools.openshift.internal.common.ui.command.NewConnectionHandler">
     	</handler>
  <handler
        class="org.jboss.tools.openshift.internal.common.ui.command.RefreshResourceHandler"
        commandId="org.jboss.tools.openshift.common.ui.command.refresh.resource">
  </handler>
     </extension>
     <extension
        point="org.eclipse.ui.menus">
		<!-- openshift explorer context menu: new connection -->
		<menuContribution
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleViewPopup.new?after=additions">
			<command
				commandId="org.jboss.tools.openshift.common.ui.command.newconnection"
                icon="icons/openshift-new.png"
                id="org.jboss.tools.openshift.express.ui.command.newconnection"
                mnemonic="N">
				<visibleWhen>
					<or>
						<with variable="activePartId">
							<equals value="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView" />
						</with>
					</or>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
		
	<!-- Edit Connection -->
	<extension
		point="org.eclipse.ui.commands">
		<command
			id="org.jboss.tools.openshift.common.ui.command.editconnection"
			name="%openshift.command.connection.edit">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.jboss.tools.openshift.internal.common.ui.command.EditConnectionHandler"
			commandId="org.jboss.tools.openshift.common.ui.command.editconnection">
		</handler>
	</extension>
		<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?before=group.showIn">
			<command
				commandId="org.jboss.tools.openshift.common.ui.command.editconnection"
				icon="icons/openshift-edit.png"
				mnemonic="E">
				<visibleWhen>
					<with variable="selection">
						<and>
							<count value="1" />
							<iterate ifEmpty="false" operator="or">
								<instanceof
									value="org.jboss.tools.openshift.common.core.connection.IConnection" />
							</iterate>
						</and>
					</with>
				</visibleWhen>
			</command>
   <command
         commandId="org.jboss.tools.openshift.common.ui.command.refresh.resource"
         icon="icons/refresh.gif"
         id="org.jboss.tools.openshift.common.ui.command.refresh.resource"
         style="push"
         tooltip="Refresh the resource">
      <visibleWhen>
         <and>
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="com.openshift.client.IRefreshable">
               </instanceof>
            </iterate>
         </and>
      </visibleWhen>
   </command>
		</menuContribution>
	</extension>
	
	<!-- Remove Connection -->
	<extension
		point="org.eclipse.ui.commands">
		<command
			id="org.jboss.tools.openshift.express.ui.command.removeconnection"
			name="%openshift.command.connection.remove">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.bindings">
		<key
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" 
			contextId="org.jboss.tools.openshift.explorer.context.connection"
			sequence="Del" 
			commandId="org.jboss.tools.openshift.express.ui.command.removeconnection" />
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
        <handler
			commandId="org.jboss.tools.openshift.express.ui.command.removeconnection"
			class="org.jboss.tools.openshift.internal.common.ui.command.RemoveConnectionHandler">
     	</handler>
	</extension>
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?before=group.showIn">
			<command
				commandId="org.jboss.tools.openshift.express.ui.command.removeconnection"
				icon="icons/delete_edit.gif"
				id="org.jboss.tools.openshift.express.ui.command.removeconnection"
				mnemonic="R">
				<visibleWhen>
					<with variable="selection">
						<and>
							<iterate ifEmpty="false" operator="and">
								<instanceof
									value="org.jboss.tools.openshift.common.core.connection.IConnection" />
	                    </iterate>
					</and>
                </with>
			</visibleWhen>
          </command>
        </menuContribution>
    </extension>
</plugin>
