<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- new workbench wizard: new openshift application -->
	<extension
		point="org.eclipse.ui.newWizards">
		<category
			id="org.jboss.ide.eclipse.as.openshift.express.ui.wizard.category"
			name="OpenShift">
		</category>
		<wizard
			category="org.jboss.ide.eclipse.as.openshift.express.ui.wizard.category"
			class="org.jboss.tools.openshift.common.ui.wizard.NewApplicationWorkbenchWizard"
			icon="icons/openshift-logo-white-icon.png"
			id="org.jboss.ide.eclipse.as.openshift.express.ui.wizard.createNewApplicationWizard"
			name="OpenShift Application"
			project="true">
			<description>Create a new OpenShift Application</description>
		</wizard>
	</extension>

	<!-- import workbench wizard: import openshift application -->
	<extension
		point="org.eclipse.ui.importWizards">
		<category
			id="org.jboss.tools.openshift.express.ui.wizard.importCategory"
			name="OpenShift">
		</category>
		<wizard
			category="org.jboss.tools.openshift.express.ui.wizard.importCategory"
			class="org.jboss.tools.openshift.common.ui.wizard.ImportApplicationWorkbenchWizard"
			icon="icons/openshift-logo-white-icon.png"
			id="org.jboss.tools.openshift.express.ui.importExistingApplicationWizard"
			name="Existing OpenShift Application">
			<description>Import an existing OpenShift Application</description>
		</wizard>
	</extension>

	<!-- jboss perspective: new openshift application wizard -->
	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="org.jboss.tools.common.ui.JBossPerspective">
			<newWizardShortcut
				id="org.jboss.ide.eclipse.as.openshift.express.ui.wizard.createNewApplicationWizard">
			</newWizardShortcut>
		</perspectiveExtension>
	</extension>

	<!-- connection editor extension point -->
	<extension-point 
		id="org.jboss.tools.openshift.ui.connectionEditor" 
		name="ConnectionEditor" 
		schema="schema/org.jboss.tools.openshift.ui.connectionEditor.exsd"/>
    
	<!-- new application wizard extension point -->
	<extension-point 
		id="org.jboss.tools.openshift.ui.newApplicationWizard" 
		name="NewApplicationWizard" 
		schema="schema/org.jboss.tools.openshift.ui.newApplicationWizard.exsd"/>

	<!-- import application wizard extension point -->
	<extension-point 
		id="org.jboss.tools.openshift.ui.importApplicationWizard" 
		name="ImportApplicationWizard" 
		schema="schema/org.jboss.tools.openshift.ui.importApplicationWizard.exsd"/>

    <!-- OpenShift Explorer view -->
    <extension
        point="org.eclipse.ui.views">
        <view
            id="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView"
            category="org.jboss.tools.common.model.ui.views"
            class="org.jboss.tools.openshift.internal.common.ui.explorer.OpenShiftExplorerView"
            icon="icons/openshift-logo-white-icon.png"
            name="OpenShift Explorer">
        </view>
    </extension>
    
    <extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.jboss.tools.common.ui.JBossPerspective">
			<view relative="org.eclipse.ui.views.ProblemView"
				relationship="stack"
				id="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView">
			</view>
      	</perspectiveExtension> 
	</extension>
	
	<!-- openshift explorer view: context menu -->
	<extension point="org.eclipse.ui.navigator.viewer">
		<viewer
			viewerId="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView">
			<popupMenu
				allowsPlatformContributions="true"
				id="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup">
				<insertionPoint
					name="group.new"
					separator="true"/>
				<insertionPoint
					name="group.showIn"
					separator="true"/>
				<insertionPoint
					name="group.edit"
					separator="true"/>
				<insertionPoint
					name="group.import"
					separator="true"/>
				<insertionPoint
					name="group.modify"
					separator="true"/>
				<insertionPoint
					name="additions"
					separator="true"/>
				<insertionPoint
					name="group.properties"
					separator="true"/>
			</popupMenu>
			<options>
				<property
					name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
					value="true">
				</property>
			</options>
		</viewer>
	</extension>

	<!-- openshift explorer: "New" submenu -->
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.new">
	    	<menu
	           id="org.jboss.tools.openshift.express.ui.explorer.expressConsoleViewPopup.new"
	           label="%openshift.menu.expressConsoleView.new">
			</menu>
		</menuContribution>
	</extension>

	<!-- openshift explorer: "Show In" submenu -->
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?after=group.showIn">
	    	<menu
	           id="org.jboss.tools.openshift.express.ui.explorer.expressConsoleViewPopup.showIn"
	           label="%openshift.menu.expressConsoleView.showIn">
			</menu>
		</menuContribution>
	</extension>

	<!-- openshift explorer view: toolbar/new connection -->
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="toolbar:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView">
				<command
					commandId="org.jboss.tools.openshift.common.ui.command.newconnection"
					icon="icons/openshift-new.png"
					id="org.jboss.tools.openshift.express.ui.command.newconnection"
					style="push"
					mnemonic="N">
				</command>
		</menuContribution>
	</extension>
	
	<!-- New Connection -->
	<extension
		point="org.eclipse.ui.commands">
		<command
              id="org.jboss.tools.openshift.common.ui.command.newconnection"
              name="%openshift.command.connection.new">
        </command>
	</extension>
    <extension
		point="org.eclipse.ui.handlers">
		<handler
              commandId="org.jboss.tools.openshift.common.ui.command.newconnection"
              class="org.jboss.tools.openshift.internal.common.ui.command.NewConnectionHandler">
     	</handler>
     </extension>
     <extension
        point="org.eclipse.ui.menus">
		<!-- openshift explorer context menu: new connection -->
		<menuContribution
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleViewPopup.new?after=additions">
			<command
				commandId="org.jboss.tools.openshift.common.ui.command.newconnection"
                icon="icons/openshift-new.png"
                id="org.jboss.tools.openshift.express.ui.command.newconnection"
                mnemonic="N">
				<visibleWhen>
				<and>
					<with variable="selection">
						<and>
							<count value="?" /><!-- 1 or none-->
							<iterate ifEmpty="true" operator="and">
								<not>
									<instanceof
										value="com.openshift.restclient.OpenShiftException" />
								</not>
							</iterate>
						</and>
					</with>
					<with variable="activePartId">
						<equals value="org.jboss.tools.openshift.express.ui.explorer.expressConsoleView" />
					</with>
				</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
		
	<!-- Edit Connection -->
	<extension
		point="org.eclipse.ui.commands">
		<command
			id="org.jboss.tools.openshift.common.ui.command.editconnection"
			name="%openshift.command.connection.edit">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.jboss.tools.openshift.internal.common.ui.command.EditConnectionHandler"
			commandId="org.jboss.tools.openshift.common.ui.command.editconnection">
		</handler>
	</extension>
		<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?before=group.showIn">
			<command
				commandId="org.jboss.tools.openshift.common.ui.command.editconnection"
				icon="icons/openshift-edit.png"
				mnemonic="E">
				<visibleWhen>
					<with variable="selection">
						<and>
							<count value="1" />
							<iterate ifEmpty="false" operator="or">
								<instanceof
									value="org.jboss.tools.openshift.common.core.connection.IConnection" />
							</iterate>
						</and>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	
	<!-- Remove Connection -->
	<extension
		point="org.eclipse.ui.commands">
		<command
			id="org.jboss.tools.openshift.express.ui.command.removeconnection"
			name="%openshift.command.connection.remove">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.bindings">
		<key
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" 
			contextId="org.jboss.tools.openshift.explorer.context.connection"
			sequence="Del" 
			commandId="org.jboss.tools.openshift.express.ui.command.removeconnection" />
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
        <handler
			commandId="org.eclipse.ui.edit.delete"
			class="org.jboss.tools.openshift.internal.common.ui.command.RemoveConnectionHandler">
				<activeWhen>
					<with
					variable="selection">
						<and>
						<iterate
							ifEmpty="false"
							operator="and">
							<instanceof
								value="org.jboss.tools.openshift.common.core.connection.IConnection" />
						</iterate>
						</and>
					</with>
				</activeWhen>
     	</handler>
	</extension>
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.jboss.tools.openshift.express.ui.explorer.expressConsoleView.popup?before=group.showIn">
			<command
				commandId="org.eclipse.ui.edit.delete"
				icon="icons/delete_edit.gif"
				id="org.jboss.tools.openshift.express.ui.command.removeconnection"
				mnemonic="R">
				<visibleWhen>
					<with variable="selection">
						<and>
							<iterate ifEmpty="false" operator="and">
								<instanceof
									value="org.jboss.tools.openshift.common.core.connection.IConnection" />
	                    </iterate>
					</and>
                </with>
			</visibleWhen>
          </command>
        </menuContribution>
    </extension>

	<!-- New Application -->
	<extension
		point="org.eclipse.ui.commands">
		<command
			id="org.jboss.tools.openshift.common.ui.command.newapplication"
			name="%openshift.command.application.new">
		</command>
	</extension>
	<extension
           point="org.eclipse.ui.handlers">
        <handler
              commandId="org.jboss.tools.openshift.common.ui.command.newapplication"
              class="org.jboss.tools.openshift.internal.common.ui.command.NewApplicationHandler">
     	</handler>
    </extension>

	<!-- configure OpenShift application -->
	<!-- project explorer: configure OpenShift application -->
	<extension point="org.eclipse.ui.menus">
		<menuContribution
    		locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
			<command
				commandId="org.jboss.tools.openshift.common.ui.command.newapplication"
				icon="icons/openshift-new.png"
				label="%openshift.menu.configureNewOpenShiftApplication"
				mnemonic="A">
				<visibleWhen 
					checkEnabled="false">
					<with variable="selection">
						<and>
							<count value="1" />
							<iterate ifEmpty="false">
								<adapt
            						type="org.eclipse.core.resources.IProject">
									<and>
			 							<test
			 								forcePluginActivation="true"
				    	       				property="org.jboss.tools.openshift.express.isOpenShiftProject" value="false"/>			 							
				    	       			<test
			 								forcePluginActivation="true"
				    	       				property="org.jboss.tools.openshift.express.ifSharedIsEGit" value="true"/>
				    	       			<test
			 								forcePluginActivation="true"
				    	       				property="org.jboss.tools.openshift.express.isInternalRSE" value="false"/>
				    	       		</and>
								</adapt>
			           		</iterate>
						</and>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>

	<!-- Core UI Integration: credentials prompt -->
	<extension
		point="org.jboss.tools.openshift.core.credentialsPrompterUI">
		<credentialsPrompterUI
			class="org.jboss.tools.openshift.common.ui.connection.CredentialsPrompter" />
	</extension>


</plugin>
